workflows/ad-listing-mark-removed.json
{
  "name": "廣告已撤除（YCxxx）",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "caseId", "type": "string" },
            { "name": "lineUserId", "type": "string" },
            { "name": "replyToken", "type": "string" }
          ]
        }
      },
      "id": "trigger",
      "name": "Sub-workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-1100, 0]
    },
    {
      "parameters": {
        "jsCode": "// Accept '7271623' or 'YC7271623' (with or without spaces / lowercase yc).\nconst raw = String($json.caseId || '').trim();\nconst m = raw.match(/(YC)?\\s*(\\d{5,})/i);\nif (!m) throw new Error('案件編號格式錯誤：' + raw);\nconst caseId = 'YC' + m[2];\nreturn [{\n  json: {\n    caseId,\n    digitsOnly: m[2],\n    lineUserId: $json.lineUserId || '',\n    replyToken: $json.replyToken || ''\n  }\n}];\n"
      },
      "id": "normalize",
      "name": "Normalize 案件編號",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-880, 0]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "07ee845168b64f8a9b5682e5069c733b",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "anyFilter",
        "filters": {
          "conditions": [
            {
              "key": "案件編號|rich_text",
              "condition": "equals",
              "richTextValue": "={{ $json.caseId }}"
            },
            {
              "key": "案件編號|rich_text",
              "condition": "equals",
              "richTextValue": "={{ $json.digitsOnly }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-lookup",
      "name": "Notion: Lookup by 案件編號",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [-640, 0],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "n8n 廣告系統"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const norm = $('Normalize 案件編號').first().json;\nconst hits = $input.all();\nconst hit = hits.length && hits[0].json && hits[0].json.id ? hits[0].json : null;\nreturn [{\n  json: {\n    ...norm,\n    found: Boolean(hit),\n    pageId: hit ? hit.id : null,\n    pageUrl: hit ? (hit.url || hit.public_url || '') : '',\n    title: hit ? (hit.properties?.['案名']?.title?.[0]?.plain_text || norm.caseId) : norm.caseId\n  }\n}];\n"
      },
      "id": "attach",
      "name": "Attach Lookup Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-found",
      "name": "IF found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.pageId }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "已撤除確認|checkbox", "checkboxValue": true },
            { "key": "狀態|select", "selectValue": "下架" },
            { "key": "date:下架偵測時間:start", "date": "={{ $now.toISO() }}" }
          ]
        },
        "options": {}
      },
      "id": "notion-update",
      "name": "Notion: Mark Removed",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [80, -160],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "n8n 廣告系統"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Found branch reply.\nconst attached = $('Attach Lookup Result').first().json;\nreturn [{\n  json: {\n    action: '已撤除',\n    caseId: attached.caseId,\n    notionPageUrl: attached.pageUrl,\n    replyText: `✅ 已標記下架：${attached.title}\\n案件編號：${attached.caseId}` + (attached.pageUrl ? `\\nNotion：${attached.pageUrl}` : ''),\n    replyToken: attached.replyToken,\n    lineUserId: attached.lineUserId\n  }\n}];\n"
      },
      "id": "reply-found",
      "name": "Build Reply (Found)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, -160]
    },
    {
      "parameters": {
        "jsCode": "// Not-found branch reply.\nconst attached = $('Attach Lookup Result').first().json;\nreturn [{\n  json: {\n    action: '查無',\n    caseId: attached.caseId,\n    replyText: `⚠️ 找不到 ${attached.caseId}，請確認案件編號或先用「建檔 [永慶網址]」建立。`,\n    replyToken: attached.replyToken,\n    lineUserId: attached.lineUserId\n  }\n}];\n"
      },
      "id": "reply-missing",
      "name": "Build Reply (Missing)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 160]
    },
    {
      "parameters": {},
      "id": "merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [560, 0]
    }
  ],
  "connections": {
    "Sub-workflow Trigger":      { "main": [[{ "node": "Normalize 案件編號",       "type": "main", "index": 0 }]] },
    "Normalize 案件編號":         { "main": [[{ "node": "Notion: Lookup by 案件編號","type": "main", "index": 0 }]] },
    "Notion: Lookup by 案件編號": { "main": [[{ "node": "Attach Lookup Result",     "type": "main", "index": 0 }]] },
    "Attach Lookup Result":      { "main": [[{ "node": "IF found?",                 "type": "main", "index": 0 }]] },
    "IF found?": {
      "main": [
        [{ "node": "Notion: Mark Removed",  "type": "main", "index": 0 }],
        [{ "node": "Build Reply (Missing)", "type": "main", "index": 0 }]
      ]
    },
    "Notion: Mark Removed":  { "main": [[{ "node": "Build Reply (Found)", "type": "main", "index": 0 }]] },
    "Build Reply (Found)":   { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Build Reply (Missing)": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "staticData": null,
  "meta": { "instanceId": "asce-yungching" },
  "tags": ["廣告系統", "Notion", "LINE"]
}
