workflows/ad-listing-removal-detector.json
{
  "name": "廣告下架偵測（每日）",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 9 * * *" }
          ]
        }
      },
      "id": "cron",
      "name": "每日 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 0]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "07ee845168b64f8a9b5682e5069c733b",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "已撤除確認|checkbox",
              "condition": "equals",
              "checkboxValue": false
            },
            {
              "key": "狀態|select",
              "condition": "doesNotEqual",
              "selectValue": "下架"
            }
          ]
        },
        "options": {}
      },
      "id": "list-active",
      "name": "Notion: List Active 物件",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [-960, 0],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "n8n 廣告系統"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Flatten Notion pages into { pageId, sourceUrl, caseId, title }.\nconst out = [];\nfor (const item of $input.all()) {\n  const p = item.json;\n  const props = p.properties || {};\n  const sourceUrl = props['來源連結']?.url || '';\n  const caseId    = props['案件編號']?.rich_text?.[0]?.plain_text || '';\n  const title     = props['案名']?.title?.[0]?.plain_text || caseId;\n  if (!sourceUrl) continue;\n  out.push({ json: { pageId: p.id, sourceUrl, caseId, title } });\n}\nreturn out;\n"
      },
      "id": "flatten",
      "name": "Flatten Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.sourceUrl }}",
        "options": {
          "redirect": { "redirect": { "followRedirects": true } },
          "response": {
            "response": {
              "responseFormat": "text",
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (compatible; n8n-yungching/1.0)" },
            { "name": "Accept-Language", "value": "zh-TW,zh;q=0.9" }
          ]
        }
      },
      "id": "fetch",
      "name": "Probe URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-480, 0]
    },
    {
      "parameters": {
        "jsCode": "// Decide whether the listing is down. Rules:\n//   - status >= 400 → down\n//   - body contains 已下架 / 物件不存在 / 此物件已下架 / 已成交 → down\n//   - otherwise → live\nconst meta   = $('Flatten Pages').itemMatching($itemIndex).json;\nconst status = $json.statusCode ?? 0;\nconst body   = String($json.body || $json.data || '');\nconst downMarker = /已下架|物件不存在|此物件已下架|已成交|不存在的物件/.test(body);\nconst isDown = status >= 400 || downMarker;\nreturn [{\n  json: {\n    ...meta,\n    statusCode: status,\n    isDown,\n    reason: status >= 400 ? `HTTP ${status}` : (downMarker ? '頁面標記為下架' : 'live')\n  }\n}];\n"
      },
      "id": "classify",
      "name": "Classify Down/Live",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.isDown }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-down",
      "name": "IF down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.pageId }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "狀態|select", "selectValue": "下架" },
            { "key": "date:下架偵測時間:start", "date": "={{ $now.toISO() }}" }
          ]
        },
        "options": {}
      },
      "id": "mark-down",
      "name": "Notion: Mark Down",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [240, -160],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "n8n 廣告系統"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate",
      "name": "Aggregate Down List",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [480, -160]
    },
    {
      "parameters": {
        "jsCode": "// Build a single LINE push summary listing every newly-downed listing.\nconst items = $input.all().map(i => i.json);\nif (items.length === 0) return [];\nconst lines = items.map(i => `• ${i.title}（${i.caseId}）— ${i.reason}`);\nreturn [{\n  json: {\n    count: items.length,\n    replyText: `🔻 今日偵測到 ${items.length} 件下架：\\n` + lines.join('\\n')\n  }\n}];\n"
      },
      "id": "build-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, -160]
    }
  ],
  "connections": {
    "每日 09:00":             { "main": [[{ "node": "Notion: List Active 物件", "type": "main", "index": 0 }]] },
    "Notion: List Active 物件":{ "main": [[{ "node": "Flatten Pages",            "type": "main", "index": 0 }]] },
    "Flatten Pages":          { "main": [[{ "node": "Probe URL",                "type": "main", "index": 0 }]] },
    "Probe URL":              { "main": [[{ "node": "Classify Down/Live",       "type": "main", "index": 0 }]] },
    "Classify Down/Live":     { "main": [[{ "node": "IF down?",                 "type": "main", "index": 0 }]] },
    "IF down?": {
      "main": [
        [{ "node": "Notion: Mark Down", "type": "main", "index": 0 }],
        []
      ]
    },
    "Notion: Mark Down":   { "main": [[{ "node": "Aggregate Down List", "type": "main", "index": 0 }]] },
    "Aggregate Down List": { "main": [[{ "node": "Build Summary",      "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "staticData": null,
  "meta": { "instanceId": "asce-yungching" },
  "tags": ["廣告系統", "Notion", "排程"]
}
