workflows/keis-grab-notify.json
{
  "name": "KEIS 搶單 LINE 通知",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keis-grab",
        "options": {}
      },
      "id": "a01c7e38-d460-4ec6-ba26-76e2fde97556",
      "name": "Webhook 收搶單結果",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        720,
        176
      ],
      "webhookId": "a01f67ae-4109-4411-98f0-1f9569c1b5c5"
    },
    {
      "parameters": {
        "jsCode": "// KEIS 搶單通知：收 grab.py POST 進來的 payload，組成 LINE 訊息\nconst body = $input.first().json.body || $input.first().json;\nconst USER_ID = \"Ufab42c56b2eb9b9a9ff18c367b85a6dd\"; // 薛力瑜\n\nlet text;\nif (body.event === 'alert') {\n  text = body.text || '⚠ KEIS 搶單警示';\n} else if (body.event === 'daily_summary') {\n  // 跨日結算保底：每天換日瞬間推一則「前一天」戰果（掛 0 那天也一定有訊息）。\n  // 系統是全天分層輪詢、沒有「收工」這回事，措辭別讓人以為要停了。\n  const newToday = body.new_today || 0;\n  const grabbedToday = body.grabbed_today || 0;\n  const recovered = body.recovered || 0;\n  const d = body.date || '';\n  const tail = '🔄 系統持續 24H 監控中';\n  if (grabbedToday > 0) {\n    const missed = newToday - grabbedToday;\n    const hint = missed > 0 ? `⚠ 有 ${missed} 筆沒搶到（搶輸/配額滿）` : '✅ 出的全搶到';\n    const rec = recovered > 0 ? `（含補回 ${recovered} 筆）` : '';\n    text = `🌙 KEIS 跨日結算（${d} 戰果）\\n搶到 ${grabbedToday} 筆${rec}｜新名單 ${newToday}\\n${hint}\\n${tail}`;\n  } else if (newToday === 0) {\n    text = `🌙 KEIS 跨日結算（${d} 戰果）\\n掛 0：這天公買沒出貨（0 筆新名單）\\n✅ 系統正常運作，只是沒貨可搶\\n${tail}`;\n  } else {\n    text = `🌙 KEIS 跨日結算（${d} 戰果）\\n掛 0：出了 ${newToday} 筆新名單卻一筆都沒搶到\\n⚠ 搶輸/配額滿，回頭看要不要再調快\\n${tail}`;\n  }\n} else {\n  const g = body.grabbed || [];\n  const lines = g.map(x => `・${x.name} ${x.phone}｜${x.city} ${x.category} ${x.budget}`).join('\\n');\n  const left = (body.quota_left != null) ? body.quota_left : '?';\n  if (body.new_today != null) {\n    // 開盤搶到：帶今日累計，一眼分辨貨少 vs 搶輸\n    const newToday = body.new_today;\n    const grabbedToday = body.grabbed_today;\n    const missed = newToday - grabbedToday;\n    const hint = missed > 0 ? `⚠ 有 ${missed} 筆沒搶到（搶輸/配額滿）` : '✅ 出的全搶到';\n    text = `🎯 KEIS 這批搶到 ${g.length} 筆\\n📊 今天累計 新名單 ${newToday} ／ 搶到 ${grabbedToday}｜剩餘配額 ${left}\\n${hint}\\n\\n${lines}`;\n  } else {\n    // 補漏回查等沒帶今日累計的情況：退回本批數\n    text = `🎯 KEIS 搶到 ${g.length} 筆（今日剩餘配額 ${left}）\\n\\n${lines}`;\n  }\n}\nreturn [{ json: { userId: USER_ID, text } }];\n"
      },
      "id": "e3ff286e-fb1c-4924-93ed-4fba6bd35059",
      "name": "組 LINE 訊息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.userId, messages: [{ type: 'text', text: $json.text }] }) }}",
        "options": {}
      },
      "id": "a6d42476-dffc-4a5a-b709-ebcf0b085cc8",
      "name": "LINE Push",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OmFzUGgZ1xIpAAP5",
          "name": "LINE Channel Access Token"
        }
      }
    }
  ],
  "connections": {
    "Webhook 收搶單結果": {
      "main": [
        [
          {
            "node": "組 LINE 訊息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組 LINE 訊息": {
      "main": [
        [
          {
            "node": "LINE Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}