workflows/line-command-router.json
{
  "_note": "LINE 主分流：依文字前綴或訊息類型分流到下游 workflow。新增『行事曆』『客戶』指令與『圖片自動分流』。",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "766bd943-f56c-4f78-b727-20e0d107d26a",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4e18c917-e9cd-43d7-b2b6-3ab52c08a091",
      "name": "LINE Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-656, 208],
      "webhookId": "766bd943-f56c-4f78-b727-20e0d107d26a"
    },
    {
      "parameters": {
        "jsCode": "// 解析 LINE 訊息：判斷文字前綴或圖片\nconst body = $input.first().json.body || $input.first().json;\nconst events = body.events || [];\n\nif (events.length === 0) {\n  return [{ json: { command: 'noop', text: '', replyToken: null, rawBody: body } }];\n}\n\nconst event = events[0];\nconst msg = event.message || {};\nconst msgType = msg.type || '';\nconst replyToken = event.replyToken || null;\n\nif (msgType === 'image') {\n  return [{ json: { command: 'image', text: '', replyToken, rawBody: body } }];\n}\n\nconst text = (msg.text || '').trim();\nlet command = 'unknown';\nif      (text.startsWith('建檔'))     command = 'create';\nelse if (text.startsWith('已撤除'))   command = 'remove';\nelse if (text.startsWith('生成文案')) command = 'rewrite';\nelse if (text.startsWith('行事曆'))   command = 'calendar';\nelse if (text.startsWith('客戶'))     command = 'customer';\nelse if (/^發[\\s\\u3000]*[A-Za-z]{2}\\d{4,}/.test(text)) command = 'publish';\nelse if (text === '戰果' || text === '今日戰果') command = 'battle';\nelse if (text === '天氣')             command = 'weather';\n\nreturn [{ json: { command, text, replyToken, rawBody: body } }];"
      },
      "id": "fb843294-3b70-47c4-9de0-e9618bb9309e",
      "name": "解析 LINE 指令",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-448, 208]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "c1", "leftValue": "={{ $json.command }}", "rightValue": "create",   "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "建檔" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "c2", "leftValue": "={{ $json.command }}", "rightValue": "remove",   "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "已撤除" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "c3", "leftValue": "={{ $json.command }}", "rightValue": "rewrite",  "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "生成文案" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "c4", "leftValue": "={{ $json.command }}", "rightValue": "calendar", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "行事曆" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "c5", "leftValue": "={{ $json.command }}", "rightValue": "customer", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "客戶" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "c6", "leftValue": "={{ $json.command }}", "rightValue": "image",    "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "圖片" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "c7", "leftValue": "={{ $json.command }}", "rightValue": "battle",   "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "戰果" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "c8", "leftValue": "={{ $json.command }}", "rightValue": "publish",  "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "發" }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "其他" }
      },
      "id": "2e79a655-1bc1-47d4-8601-466a4d6b6355",
      "name": "Switch 指令分流",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-272, 192]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-68428.up.railway.app/webhook/yc-property-create",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rawBody) }}",
        "options": {}
      },
      "id": "5892da4b-b3e4-4cdd-be70-cdf14be7294f",
      "name": "轉發到 Workflow 1 建檔",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, -160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-68428.up.railway.app/webhook/yc-property-remove",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rawBody) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [0, -32],
      "id": "d49856a2-ae18-451e-b80d-3e17bf12c75b",
      "name": "轉發到撤除回報器"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-68428.up.railway.app/webhook/yc-rewrite-copy",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rawBody) }}",
        "options": {}
      },
      "id": "f3a91c40-2b5e-4a8f-9c1d-5e2d1c4a7b01",
      "name": "轉發到文案重產器",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 96]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-68428.up.railway.app/webhook/line-calendar-create",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rawBody) }}",
        "options": {}
      },
      "id": "f3a91c40-2b5e-4a8f-9c1d-5e2d1c4a7b02",
      "name": "轉發到行事曆建立",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 224]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-68428.up.railway.app/webhook/line-customer-create",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rawBody) }}",
        "options": {}
      },
      "id": "f3a91c40-2b5e-4a8f-9c1d-5e2d1c4a7b03",
      "name": "轉發到客戶建檔",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 352]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-68428.up.railway.app/webhook/line-image-dispatcher",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rawBody) }}",
        "options": {}
      },
      "id": "f3a91c40-2b5e-4a8f-9c1d-5e2d1c4a7b04",
      "name": "轉發到圖片分流",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-68428.up.railway.app/webhook/keis-battle-report",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rawBody) }}",
        "options": {}
      },
      "id": "f3a91c40-2b5e-4a8f-9c1d-5e2d1c4a7b05",
      "name": "轉發到戰果查詢",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 608]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-68428.up.railway.app/webhook/yc-fb-publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rawBody) }}",
        "options": {}
      },
      "id": "f3a91c40-2b5e-4a8f-9c1d-5e2d1c4a7b06",
      "name": "轉發到FB發文",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 864]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { replyToken: $('解析 LINE 指令').first().json.replyToken, message: '❓ 無效指令\\n\\n可用指令：\\n• 建檔 [永慶網址]\\n• 已撤除 YCxxx\\n• 生成文案 YCxxx [風格描述]\\n• 發 YCxxx（自動發粉專）\\n• 行事曆 [日期 時間 標題 地點 說明]\\n• 客戶 [姓名 電話 需求 …]\\n• 戰果（查今天 KEIS 搶單）\\n\\n直接傳圖片：自動判斷是「行事曆」或「客戶」' } }];"
      },
      "id": "cc7fd522-66f8-423c-8c07-71bcedf14832",
      "name": "未知指令處理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 736]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replyToken: $json.replyToken, messages: [{ type: 'text', text: $json.message }] }) }}",
        "options": {}
      },
      "id": "271e663c-66f1-4f26-be70-ebfa57ae6bc3",
      "name": "LINE 回覆（fallback）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [352, 608],
      "credentials": { "httpHeaderAuth": { "id": "OmFzUGgZ1xIpAAP5", "name": "LINE Channel Access Token" } }
    }
  ],
  "connections": {
    "LINE Webhook":     { "main": [[{ "node": "解析 LINE 指令", "type": "main", "index": 0 }]] },
    "解析 LINE 指令":   { "main": [[{ "node": "Switch 指令分流", "type": "main", "index": 0 }]] },
    "Switch 指令分流": {
      "main": [
        [{ "node": "轉發到 Workflow 1 建檔", "type": "main", "index": 0 }],
        [{ "node": "轉發到撤除回報器",       "type": "main", "index": 0 }],
        [{ "node": "轉發到文案重產器",       "type": "main", "index": 0 }],
        [{ "node": "轉發到行事曆建立",       "type": "main", "index": 0 }],
        [{ "node": "轉發到客戶建檔",         "type": "main", "index": 0 }],
        [{ "node": "轉發到圖片分流",         "type": "main", "index": 0 }],
        [{ "node": "轉發到戰果查詢",         "type": "main", "index": 0 }],
        [{ "node": "轉發到FB發文",           "type": "main", "index": 0 }],
        [{ "node": "未知指令處理",           "type": "main", "index": 0 }]
      ]
    },
    "未知指令處理":     { "main": [[{ "node": "LINE 回覆（fallback）", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "instanceId": "7ba581e9dd81831121dfd6e8e7d2138fd3f9916fe6e8e591c654d8745a11fd69" }
}
