workflows/yc-property-remove.json
{
  "_note": "撤除回報器（已完成且運作中）。LINE 已撤除 YCxxx → 找 Notion → PATCH 已撤除確認 + 下架偵測時間 → LINE 回覆。",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "yc-property-remove", "options": {} },
      "id": "45a6af92-b35a-4d29-9b9d-6106afcbc93e",
      "name": "Webhook 接收",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-880, 80],
      "webhookId": "yc-property-remove"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst event = body.events?.[0] || {};\nconst text = event.message?.text || '';\nconst replyToken = event.replyToken || '';\nconst match = text.match(/YC\\d+/i);\nconst ycNumber = match ? match[0].toUpperCase() : null;\nreturn [{ json: { rawText: text, ycNumber, replyToken, found: !!ycNumber } }];"
      },
      "id": "101f0a9f-a437-487b-bacd-b10fc3526db6",
      "name": "解析指令（抽 YC 編號）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-656, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.notion.com/v1/databases/07ee845168b64f8a9b5682e5069c733b/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Notion-Version", "value": "2022-06-28" },
          { "name": "Content-Type", "value": "application/json" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": { \"property\": \"案件編號\", \"rich_text\": { \"equals\": \"{{ $json.ycNumber }}\" } },\n  \"page_size\": 1\n}",
        "options": {}
      },
      "id": "9c010b2a-21e2-447e-ad96-a03abbab6850",
      "name": "查 Notion 找物件",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-448, 80],
      "credentials": { "httpHeaderAuth": { "id": "edOz4T0LC6EP41Ug", "name": "Notion API Token" } }
    },
    {
      "parameters": {
        "jsCode": "const queryResult = $input.first().json;\nconst parseResult = $('解析指令（抽 YC 編號）').first().json;\nconst pages = queryResult.results || [];\nconst found = pages.length > 0;\nif (!found) {\n  return [{ json: { success: false, ycNumber: parseResult.ycNumber || '(未提供)', replyToken: parseResult.replyToken, pageId: null, caseName: null, reason: parseResult.ycNumber ? '查無此案件編號' : '訊息中未偵測到 YC 編號' } }];\n}\nconst page = pages[0];\nconst pageId = page.id;\nconst caseName = page.properties?.['案名']?.title?.[0]?.plain_text || '(無案名)';\nconst alreadyRemoved = page.properties?.['已撤除確認']?.checkbox === true;\nreturn [{ json: { success: true, ycNumber: parseResult.ycNumber, replyToken: parseResult.replyToken, pageId, caseName, alreadyRemoved, nowISO: new Date().toISOString() } }];"
      },
      "id": "a3513e49-fdc5-49fc-8c0c-c50bc53f594b",
      "name": "檢查查詢結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-224, 80]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.pageId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Notion-Version", "value": "2022-06-28" },
          { "name": "Content-Type", "value": "application/json" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"已撤除確認\": { \"checkbox\": true },\n    \"下架偵測時間\": { \"date\": { \"start\": \"{{ $json.nowISO }}\" } }\n  }\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "c32ba9b6-e75e-4467-9e59-7a9438cb93e8",
      "name": "更新 Notion（標記下架）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, -64],
      "credentials": { "httpHeaderAuth": { "id": "edOz4T0LC6EP41Ug", "name": "Notion API Token" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [{ "leftValue": "={{ $json.success }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "05322038-278f-4881-8096-5bcd867774b6",
      "name": "找到物件嗎？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [0, 80]
    },
    {
      "parameters": {
        "jsCode": "const data = $('檢查查詢結果').first().json;\nconst now = new Date(data.nowISO);\nconst tw = new Intl.DateTimeFormat('zh-TW', { timeZone: 'Asia/Taipei', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: false }).format(now);\nlet message;\nif (data.alreadyRemoved) {\n  message = `⚠️ ${data.ycNumber} 之前已標記撤除\\n\\n案名：${data.caseName}\\n本次已更新偵測時間：${tw}`;\n} else {\n  message = `✅ ${data.ycNumber} 已標記下架\\n\\n案名：${data.caseName}\\n下架時間：${tw}`;\n}\nreturn [{ json: { replyToken: data.replyToken, message } }];"
      },
      "id": "4489a32c-d272-4d1f-911a-adbf01d746b7",
      "name": "組成功訊息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $('檢查查詢結果').first().json;\nconst message = `❌ 撤除失敗\\n\\n原因：${data.reason}\\n編號：${data.ycNumber}\\n\\n請確認：\\n1. 訊息格式為「已撤除 YCxxxxxxx」\\n2. 該編號已建檔在 Notion 廣告資料庫`;\nreturn [{ json: { replyToken: data.replyToken, message } }];"
      },
      "id": "b5e3be63-fe83-4c41-9bf1-dcce38d8e732",
      "name": "組失敗訊息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $json.replyToken }}\",\n  \"messages\": [\n    { \"type\": \"text\", \"text\": {{ JSON.stringify($json.message) }} }\n  ]\n}",
        "options": {}
      },
      "id": "d05399fe-402e-49b3-b073-82fe2bdbcd54",
      "name": "回覆 LINE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [448, 80],
      "credentials": { "httpHeaderAuth": { "id": "OmFzUGgZ1xIpAAP5", "name": "LINE Channel Access Token" } }
    }
  ],
  "connections": {
    "Webhook 接收":            { "main": [[{ "node": "解析指令（抽 YC 編號）", "type": "main", "index": 0 }]] },
    "解析指令（抽 YC 編號）":  { "main": [[{ "node": "查 Notion 找物件",        "type": "main", "index": 0 }]] },
    "查 Notion 找物件":        { "main": [[{ "node": "檢查查詢結果",            "type": "main", "index": 0 }]] },
    "檢查查詢結果":            { "main": [[{ "node": "找到物件嗎？",            "type": "main", "index": 0 }]] },
    "找到物件嗎？": {
      "main": [
        [{ "node": "更新 Notion（標記下架）", "type": "main", "index": 0 }],
        [{ "node": "組失敗訊息",              "type": "main", "index": 0 }]
      ]
    },
    "更新 Notion（標記下架）": { "main": [[{ "node": "組成功訊息", "type": "main", "index": 0 }]] },
    "組成功訊息":              { "main": [[{ "node": "回覆 LINE",  "type": "main", "index": 0 }]] },
    "組失敗訊息":              { "main": [[{ "node": "回覆 LINE",  "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "instanceId": "7ba581e9dd81831121dfd6e8e7d2138fd3f9916fe6e8e591c654d8745a11fd69" }
}
