workflows/yc-v3-scan-publish.json
{
  "name": "廣告v3 掃描發文線",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,11,13,15,17,19 * * *"
            }
          ]
        }
      },
      "id": "v3a-01-cron",
      "name": "定時掃描",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://keis.kshouse.com.tw/api/v1/property-management/?page=1&page_size=100&listing_type=%E8%B2%B7%E8%B3%A3",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('KEIS 登入').first().json.body.access_token }}"
            }
          ]
        }
      },
      "id": "v3a-02-keislist",
      "name": "KEIS 撈在售列表",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1790,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// 候選＝在售 + 有照片 + 總價 ≥ 800 萬（2026-07-23 使用者定案：低於 800 萬不發）\n// 排序新到舊；優先只挑「官網上架 30 天內」的新案，30 天內全發完了才放寬到較舊的案子\nconst MIN_PRICE = 800;      // 萬，含\nconst FRESH_DAYS = 30;      // 優先窗口\nconst body = $input.first().json;\nconst items = body.items || body.data || (Array.isArray(body) ? body : []);\nconst listedAt = x => new Date(x.houseol_created_at || x.created_at || 0).getTime();\nconst ageDays = x => (Date.now() - listedAt(x)) / 86400000;\n\nconst pool = items\n  .filter(x => x && x.is_active === true && Number(x.image_count) > 0 && x.contract_no\n    && Number(x.case_price) >= MIN_PRICE && Number(x.case_price) < 9999)\n  .sort((a, b) => listedAt(b) - listedAt(a));\n\n// 新案排前面、舊案墊後面：判重是下游做的，這樣「30 天內的都發過了」也不會空手而回\nconst fresh = pool.filter(x => ageDays(x) <= FRESH_DAYS);\nconst aged = pool.filter(x => ageDays(x) > FRESH_DAYS);\nconst picked = [...fresh, ...aged].slice(0, 40);\n\nconst cand = picked.map(x => ({ json: {\n  keisId: x.id,\n  contract_no: String(x.contract_no).toUpperCase(),\n  case_name: x.case_name || '',\n  official_url: x.official_url || '',\n} }));\nif (cand.length === 0) return [{ json: { _empty: true } }];\nreturn cand;\n"
      },
      "id": "v3a-03-filter",
      "name": "篩選候選",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1580,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/07ee845168b64f8a9b5682e5069c733b/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => { const cands = $('篩選候選').all().map(i => i.json.contract_no).filter(Boolean); const conds = cands.length ? cands.map(c => ({ property: '案件編號', rich_text: { equals: c } })) : [{ property: '案件編號', rich_text: { equals: '__none__' } }]; return { filter: { or: conds }, page_size: 100 }; })()) }}",
        "options": {}
      },
      "id": "v3a-04-dedupq",
      "name": "查 Notion 是否已建",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1370,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// 一次撈回整批已建過的案件編號，比對候選（原本是每個候選打一次 Notion，40 次 → 1 次）\nconst res = $input.first().json;\nconst built = new Set(\n  (res.results || [])\n    .map(p => (p.properties?.['案件編號']?.rich_text?.[0]?.plain_text || '').toUpperCase().trim())\n    .filter(Boolean)\n);\nreturn $('篩選候選').all().map(i => {\n  const c = i.json;\n  const no = String(c.contract_no || '').toUpperCase().trim();\n  return { json: { ...c, _exists: !no || built.has(no) } };\n});\n"
      },
      "id": "v3a-05-mark",
      "name": "標記是否已存在",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1160,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "nx1",
              "leftValue": "={{ $json._exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "v3a-06-filternew",
      "name": "只留未建過",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -950,
        200
      ]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "v3a-07-limit",
      "name": "取 1 件",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -740,
        200
      ]
    },
    {
      "parameters": {
        "url": "=https://keis.kshouse.com.tw/api/v1/property-management/{{ $json.keisId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('KEIS 登入').first().json.body.access_token }}"
            }
          ]
        }
      },
      "id": "v3a-08-keisdetail",
      "name": "KEIS 物件詳情",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -530,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// 白名單清洗：只留廣告欄位，屋主個資一律 drop\n// 2026-07-23 KEIS 砍欄位後改版：official_url 改從列表帶、格局樓層自己組、屋齡學區交給永慶官網\nconst d = $input.first().json.data || $input.first().json;\nconst list = $('取 1 件').first().json || {};\nconst s = v => (v === null || v === undefined) ? '' : String(v).trim();\nconst num = v => (v === null || v === undefined || v === '') ? null : Number(v);\nconst r1 = v => (v === null || v === undefined || v === '') ? null : Math.round(Number(v) * 10) / 10;\n\nconst type = s(d.property_type);\nconst isLand = /土地|農|廠|車位/.test(type);\n\n// 格局：只寫有數字的，全 0 或土地類就留白（KEIS 前端也是這樣顯示）\nconst parts = [[Number(d.room_count) || 0, '房'], [Number(d.living_count) || 0, '廳'], [Number(d.bathroom_count) || 0, '衛']];\nconst 格局 = isLand ? '' : parts.filter(p => p[0] > 0).map(p => p[0] + p[1]).join('');\n\n// 樓層：起訖不同寫成範圍、地下室寫 B1、缺任一個就留白\nconst f = n => (n === null || n === undefined || n === '') ? null : (Number(n) < 0 ? 'B' + Math.abs(Number(n)) : String(Number(n)));\nconst a = f(d.floor_start), b = f(d.floor_end), t = f(d.total_floors);\nlet 樓層 = '';\nif (!isLand && a && t) 樓層 = (b && b !== a ? a + '-' + b : a) + '/' + t;\n\nconst 賣點 = [d.feature_1, d.feature_2, d.feature_3, d.feature_4, d.feature_5].map(s).filter(Boolean);\n\nreturn [{ json: {\n  contract_no: s(d.contract_no).toUpperCase(),\n  keisId: d.id,\n  案名: s(d.case_name),\n  總價萬: num(d.case_price),\n  單價: num(d.unit_price),\n  建物類型: type,\n  格局,\n  主建坪: r1(d.main_area),\n  建物坪: r1(d.total_area),\n  樓層,\n  社區: s(d.community_name),\n  地址: [s(d.property_address_city), s(d.property_address_district), s(d.property_address_road)].join(''),\n  車位: [s(d.parking_type), s(d.parking_method)].filter(Boolean).join('/'),\n  路名: s(d.property_address_road),\n  行政區: s(d.property_address_district),\n  專員: s(d.sales_agent_name),\n  門市: s(d.store_name),\n  official_url: s(list.official_url),\n  賣點,\n  機能: { 商圈: s(d.market_info), 捷運: s(d.mrt_station), 公園: s(d.park_info) },\n}}];\n"
      },
      "id": "v3a-09-clean",
      "name": "白名單清洗",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{ parts: [{ text: `你是台灣資深房仲文案寫手。以下為官方結構化事實，全部是鐵律，禁止更改任何數字、禁止新增未提供的資訊（廣告不實有法律責任，寧可少講不可亂編）。\n\n【鐵律事實】\n案名：${$json['案名']}\n總價：${$json['總價萬']} 萬（文案只能出現這個價格數字，禁止任何其他價格）\n建物類型：${$json['建物類型']}\n${$json['格局'] ? '格局：' + $json['格局'] + '\\n' : ''}建物坪數：${$json['建物坪']} 坪（主建 ${$json['主建坪']} 坪）\n${$json['樓層'] ? '樓層：' + $json['樓層'] + '\\n' : ''}${$json['屋齡'] ? '屋齡：' + $json['屋齡'] + ' 年\\n' : ''}地址：${$json['地址']}\n車位：${$json['車位'] || '無'}\n\n【唯一可用的賣點素材】（只能改寫下列文字，不得自行補學區/捷運/建材/商圈等未列資訊）\n${($json['賣點']||[]).join('\\n')}\n機能（僅在有值時可提，空的不得杜撰）：學區「${$json['學區']||''}」商圈「${$json['機能']['商圈']}」捷運「${$json['機能']['捷運']}」公園「${$json['機能']['公園']}」\n\n【粉專主體】150-260 字，**只能有這四塊，不准多寫任何自由描述段落**：①第一行【】標題（地段+房型+賣點+價格）；②規格區每行一 emoji（📍地址 🏠格局 📐坪數 🏢樓層 💰開價，沒給的直接省略整行）；③空行；④✨亮點 3-5 條「・」開頭，**每一條都必須是上面賣點素材的改寫，不得新增素材裡沒有的事物**（例如不准自己加陽台、格局方正、採光通風、學區、屋齡）。結尾不要加行動呼籲段落。台灣房仲真實口吻，禁官腔。⚠️上面【鐵律事實】沒列出來的規格一律不得出現，包含屋齡、學區、車位數量——沒給就代表官方沒有這筆資料，連推測、連「全新」「新成屋」「X年新」這種年份暗示都不准寫，不放編號 hashtag、不放連結、不加電話公司字號（系統自動補）。\n【社團主體】50-80 字：一行 emoji 標題（地段+房型+關鍵賣點）；1-2 行賣點；結尾「詳情看留言」或「私訊索取」；不寫具體價格（可用概略如二字頭）、不放連結、不加電話公司字號。\n\n只回傳 JSON：{\\\"粉專主體\\\":\\\"\\\",\\\"社團主體\\\":\\\"\\\"}，不要 markdown、不要多餘說明。` }] }],\n  generationConfig: { temperature: 0.7, maxOutputTokens: 2048, responseMimeType: \"application/json\" }\n}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "v3a-10-gemini",
      "name": "Gemini 產文案",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -110,
        200
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "zTIA89pDJJs0Ad29",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst aiText = resp.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet jsonText = aiText.trim().replace(/^```json\\s*/, '').replace(/^```\\s*/, '').replace(/\\s*```$/, '');\nlet parsed;\ntry { parsed = JSON.parse(jsonText); } catch (e) { parsed = { 粉專主體: aiText.trim(), 社團主體: aiText.trim() }; }\nconst src = $('永慶官網補資料').first().json;\n// 鎖價後處理：文案內非官方總價的價格字串，替換回官方值\nconst price = src['總價萬'];\nlet body = String(parsed['粉專主體'] || '').trim();\nif (price) {\n  const aiNum = (body.match(/(\\d{3,7})\\s*萬/) || [])[1];\n  if (aiNum && Number(aiNum) !== Number(price)) body = body.split(aiNum + ' 萬').join(price + ' 萬').split(aiNum + '萬').join(price + '萬');\n}\nconst 粉專footer = '\\n\\n📞 薛先生 0912877583（同 LINE）\\nLINE：https://line.me/ti/p/kg1pMk4vX8\\n\\n—\\n凱璿誼峰不動產有限公司\\n經紀業特許字號：高市地政籍字第11034791100號\\n證照字號：（111）登字第417208號';\nconst 社團footer = '\\n\\n—\\n凱璿誼峰不動產有限公司｜薛先生 0912877583\\n經紀業特許字號：高市地政籍字第11034791100號';\nconst 粉專文案 = body + 粉專footer;\nconst 社團文案 = String(parsed['社團主體'] || '').trim() + 社團footer;\nreturn [{ json: { ...src, 粉專文案, 社團文案 } }];"
      },
      "id": "v3a-11-parsecopy",
      "name": "解析文案+footer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parent: { database_id: '07ee845168b64f8a9b5682e5069c733b' }, properties: { '案名': { title: [{ text: { content: $json['案名'] || $json.contract_no } }] }, '案件編號': { rich_text: [{ text: { content: $json.contract_no } }] }, '社區名稱': { rich_text: [{ text: { content: String($json['社區']||'') } }] }, '地址': { rich_text: [{ text: { content: String($json['地址']||'') } }] }, '建物類型': $json['建物類型'] ? { select: { name: String($json['建物類型']).replace(/^[A-Z]\\./,'') } } : { select: null }, '格局': { rich_text: [{ text: { content: String($json['格局']||'') } }] }, '樓層': { rich_text: [{ text: { content: String($json['樓層']||'') } }] }, '屋齡': { number: $json['屋齡'] }, '總價': { rich_text: [{ text: { content: ($json['總價萬']!=null? $json['總價萬']+' 萬':'') } }] }, '主建物坪數': { number: $json['主建坪'] }, '建物坪數': { number: $json['建物坪'] }, '粉專文案': { rich_text: [{ text: { content: String($json['粉專文案']||'').slice(0,1900) } }] }, '社團文案': { rich_text: [{ text: { content: String($json['社團文案']||'').slice(0,1900) } }] }, '來源連結': { url: $json['official_url'] || null }, '狀態': { select: { name: '待發' } }, '專員': { rich_text: [{ text: { content: String($json['專員']||'') } }] }, '所屬門市': { rich_text: [{ text: { content: String($json['門市']||'') } }] }, 'KEIS物件ID': { number: ($json.keisId != null ? Number($json.keisId) : null) } } }) }}",
        "options": {}
      },
      "id": "v3a-12-createrow",
      "name": "Notion 建待發列",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        310,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const src = $('解析文案+footer').first().json;\nconst pageId = $input.first().json.id;\nconst preview = String(src['粉專文案']||'').split('\\n').slice(0,6).join('\\n');\nconst text = `🕐 準備發廣告（10 分鐘後自動發）\\n\\n🏷 ${src.contract_no}　💰 ${src['總價萬']} 萬\\n📋 ${src['案名']}\\n📍 ${src['地址']}\\n\\n不想發這件 → 回「停 ${src.contract_no}」或「停」\\n\\n━━ 粉專預覽 ━━\\n${preview}…`;\nreturn [{ json: { ...src, notionPageId: pageId, pushText: text } }];"
      },
      "id": "v3a-13-buildpre",
      "name": "組預告",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: 'Ufab42c56b2eb9b9a9ff18c367b85a6dd', messages: [{ type: 'text', text: $json.pushText }] }) }}",
        "options": {}
      },
      "id": "v3a-14-linepre",
      "name": "LINE 預告",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        730,
        200
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OmFzUGgZ1xIpAAP5",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "v3a-15-wait",
      "name": "煞車 10 分鐘",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        940,
        200
      ],
      "webhookId": "yc-v3-brake-wait"
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/pages/{{ $('組預告').first().json.notionPageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "v3a-16-recheck",
      "name": "重查狀態",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1150,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const status = $input.first().json.properties?.['狀態']?.select?.name || '';\nconst ctx = $('組預告').first().json;\nreturn [{ json: { ...ctx, _cancelled: status === '取消' } }];"
      },
      "id": "v3a-17-judge",
      "name": "判斷是否被停",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cx1",
              "leftValue": "={{ $json._cancelled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "v3a-18-ifcancel",
      "name": "被停?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1570,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: 'Ufab42c56b2eb9b9a9ff18c367b85a6dd', messages: [{ type: 'text', text: `🛑 已攔截 ${$json.contract_no}，這件不發。` }] }) }}",
        "options": {}
      },
      "id": "v3a-19-lineblocked",
      "name": "LINE 已攔截",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        80
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OmFzUGgZ1xIpAAP5",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1041868522352339/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "source",
              "inputDataFieldName": "photo"
            },
            {
              "name": "published",
              "value": "false"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "v3a-21-uploadphoto",
      "name": "FB 上傳照片",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1990,
        320
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y6myWnsH0lkRL3CF",
          "name": "FB Page Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fbids = $input.all().map(i => i.json?.id).filter(Boolean).slice(0, 10);\nconst ctx = $('判斷是否被停').first().json;\nreturn [{ json: { ...ctx, fbids } }];\n"
      },
      "id": "v3a-22-collect",
      "name": "收集 media id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1041868522352339/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(($json.fbids && $json.fbids.length) ? { message: $json['粉專文案'], attached_media: $json.fbids.map(id => ({ media_fbid: id })) } : { message: $json['粉專文案'] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "v3a-23-feed",
      "name": "FB 發貼文",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2410,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y6myWnsH0lkRL3CF",
          "name": "FB Page Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst id = resp.id || resp.post_id || '';\nconst ctx = $('收集 media id').first().json;\nconst parts = String(id).split('_');\nconst permalink = id ? (parts.length === 2 ? `https://www.facebook.com/${parts[0]}/posts/${parts[1]}` : `https://www.facebook.com/${id}`) : '';\nreturn [{ json: { ...ctx, fbPostId: id, permalink } }];"
      },
      "id": "v3a-24-postresult",
      "name": "取貼文結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        320
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.notionPageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { '粉專貼文連結': { url: $json.permalink || null }, '狀態': { select: { name: '已發布' } } } }) }}",
        "options": {}
      },
      "id": "v3a-25-patchpub",
      "name": "Notion 標已發布",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2830,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: 'Ufab42c56b2eb9b9a9ff18c367b85a6dd', messages: [{ type: 'text', text: `✅ 已發布 ${$('取貼文結果').first().json.contract_no}\\n${$('取貼文結果').first().json.permalink || '（連結未取得，請到粉專確認）'}\\n\\n━ 社團版（複製貼原生文）━\\n${$('取貼文結果').first().json['社團文案'] || ''}\\n\\n撒網社團按這篇的「分享」即可。\\n\\n📊 KEIS 廣告追蹤：${$('取 KEIS 廣告ID').first().json.keisNote || '未執行'}` }] }) }}",
        "options": {}
      },
      "id": "v3a-26-linedone",
      "name": "LINE 發布通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3830,
        320
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OmFzUGgZ1xIpAAP5",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('取貼文結果').first().json;\nconst road = String(ctx['地址'] || '').replace(/^.{1,3}?[縣市]/, '');\nreturn [{ json: { ...ctx, ycUrl: ctx.ycUrl || ctx.official_url || '', adcaseRoad: road } }];\n"
      },
      "name": "解析永慶連結",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3030,
        320
      ],
      "onError": "continueRegularOutput",
      "id": "ca944515-a3e7-413c-a48f-19b694b2ddd6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://keis.kshouse.com.tw/api/v1/adcases",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('KEIS 登入').first().json.body.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ adcase_title: String($json['案名'] || $json.contract_no).slice(0,100), adcase_url: $json.ycUrl, adcase_member: '薛力瑜', adcase_road: String($json.adcaseRoad || '').slice(0,60), adcase_price: $json['總價萬'] ?? null, adcase_urlfacebook: $json.permalink || '', adcase_platforms: '臉書', adcase_memo: $json.contract_no + '｜n8n 廣告v3 自動建立' }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "name": "KEIS 新增廣告",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3230,
        320
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "id": "f554af38-9f2f-4a27-962a-06d2a0e99c06"
    },
    {
      "parameters": {
        "jsCode": "// 取 KEIS 新增回來的 adcase_id（失敗不擋流程，只記下原因給 LINE 顯示）\nconst ctx = $('解析永慶連結').first().json;\nconst r = $input.first().json || {};\nconst body = r.body ?? r;\nconst status = Number(r.statusCode ?? 0);\nconst adcaseId = body && body.adcase_id ? Number(body.adcase_id) : null;\nconst msg = (body && body.message) ? String(body.message) : '';\nlet note;\nif (adcaseId) {\n  note = ctx.ycResolveNote === 'ok' ? '已同步' : `已同步（連結用備援：${ctx.ycResolveNote}）`;\n} else if (/已經新增過此官網連結/.test(msg)) {\n  // KEIS 擋同一個官網連結重複建檔，回 500 但其實是 400。這代表 KEIS 上早就有這筆了。\n  note = 'KEIS 上已有同連結的廣告，未重複建立';\n} else {\n  note = `建立失敗（HTTP ${status}）${msg ? ' ' + msg.slice(0, 150) : ''}`;\n}\nreturn [{ json: { ...ctx, keisAdcaseId: adcaseId, keisNote: note } }];",
        "mode": "runOnceForAllItems"
      },
      "name": "取 KEIS 廣告ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3430,
        320
      ],
      "onError": "continueRegularOutput",
      "id": "8b63e6a8-821e-439e-bcbe-ee48fc481cc6"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.notionPageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { 'KEIS廣告ID': { number: $json.keisAdcaseId }, '永慶官網連結': { url: $json.ycUrl || null }, 'KEIS同步': { select: { name: $json.keisAdcaseId ? '已同步' : '未同步' } } } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "name": "Notion 記 KEIS 廣告ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3630,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "id": "ad8d6c07-1ba0-495d-97ff-a392188d2028"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://keis.kshouse.com.tw/api/v1/auth/login?device_type=desktop",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Referer",
              "value": "https://keis.kshouse.com.tw/login"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "name": "KEIS 登入",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "KPvi4Z4Z8IAhKbdz",
          "name": "KEIS 帳密（自動登入）"
        }
      },
      "alwaysOutputData": true,
      "position": [
        -1880,
        40
      ],
      "id": "78f2af9c-844e-4ae7-a76c-f96e309a082e"
    },
    {
      "parameters": {
        "jsCode": "// API 體檢：KEIS 又砍欄位的話，這裡先擋下來，不要再靜悄悄空轉\nconst body = $input.first().json;\nconst items = body.items || body.data || (Array.isArray(body) ? body : []);\nconst need = ['contract_no', 'case_price', 'image_count', 'official_url', 'is_active', 'houseol_created_at'];\nconst sample = items[0] || {};\nconst missing = need.filter(k => !(k in sample));\nreturn [{ json: { _healthy: items.length > 0 && missing.length === 0, _missing: missing, _count: items.length, _body: body } }];\n"
      },
      "id": "v3a-h1",
      "name": "API 體檢",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "v3a-h2c",
              "leftValue": "={{ $json._healthy }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "v3a-h2",
      "name": "欄位還在?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -380,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: 'Ufab42c56b2eb9b9a9ff18c367b85a6dd', messages: [{ type: 'text', text: `🚨 廣告線停跑：KEIS 列表少了欄位 ${($json._missing||[]).join('、')}（撈到 ${$json._count} 筆）。這輪沒發，要修程式。` }] }) }}",
        "options": {}
      },
      "id": "v3a-h3",
      "name": "LINE 體檢告警",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        220
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OmFzUGgZ1xIpAAP5",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $json._body }];"
      },
      "id": "v3a-h4",
      "name": "還原列表",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "// 永慶官網補資料 v2\n// 搜尋：用物件編號數字（官網本來就是這樣查）\n// 驗證：改用「路名 + 總價」，不再用案名——各加盟店案名寫法太自由，對不起來\n// 補回：屋齡、學區；並交叉驗證格局樓層，不一致就留白\nconst UA = { 'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/126 Safari/537.36', 'accept-language': 'zh-TW,zh;q=0.9' };\nconst results = [];\n\nfor (const item of $input.all()) {\n  const src = item.json;\n  const out = { ycUrl: '', ycHouseId: '', ycNote: '', 屋齡: null, 學區: '', 格局: src['格局'] || '', 樓層: src['樓層'] || '', 交叉檢查: [] };\n  try {\n    const digits = String(src.contract_no || '').replace(/^[A-Za-z]+/, '');\n    const city = (String(src['地址'] || '').match(/^(.{1,3}?[縣市])/) || [])[1] || '高雄市';\n    const road = String(src['路名'] || '').replace(/[0-9０-９]+.*$/, '').trim();   // 路名去掉門牌號\n    const price = Number(src['總價萬']) || 0;\n    const area = Number(src['建物坪']) || 0;\n\n    const listUrl = `https://buy.yungching.com.tw/list/${encodeURIComponent(city)}-_c/${digits}_kw`;\n    const html = String(await this.helpers.httpRequest({ url: listUrl, json: false, timeout: 20000, headers: UA }));\n    let cands = [];\n    for (const m of html.matchAll(/<script type=\"application\\/ld\\+json\">([\\s\\S]*?)<\\/script>/g)) {\n      let d; try { d = JSON.parse(m[1]); } catch (e) { continue; }\n      if (d['@type'] === 'ItemList' && Array.isArray(d.itemListElement)) {\n        cands = d.itemListElement.map(e => String(e.url || '')).filter(u => /\\/house\\/\\d+/.test(u));\n      }\n    }\n\n    let page = '', why = [];\n    for (const u of cands.slice(0, 5)) {\n      const p = String(await this.helpers.httpRequest({ url: u, json: false, timeout: 20000, headers: UA }));\n      const t = p.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ');\n      const tn = t.replace(/[,，\\s]/g, '');   // 去逗號空白，官網價格寫成「1,150 萬」\n      // 條件一：路名要出現（最強的識別）\n      const roadOk = road.length >= 2 && tn.includes(road);\n      // 條件二：總價或坪數其中之一對得上（坪數容忍 0.5 坪）\n      const priceOk = price > 0 && tn.includes(price + '萬');\n      const m2 = (tn.match(/建物[^0-9]{0,6}([0-9]+(?:\\.[0-9]+)?)坪/) || [])[1];\n      const areaOk = area > 0 && m2 && Math.abs(Number(m2) - area) <= 0.5;\n      if (roadOk && (priceOk || areaOk)) {\n        out.ycUrl = u; out.ycHouseId = (u.match(/\\/house\\/(\\d+)/) || [])[1] || ''; page = p; break;\n      }\n      why.push(`${(u.match(/\\/house\\/(\\d+)/) || [])[1]}:路名${roadOk ? 'O' : 'X'}價${priceOk ? 'O' : 'X'}坪${areaOk ? 'O' : 'X'}`);\n    }\n\n    if (!page) {\n      out.ycNote = cands.length ? `候選 ${cands.length} 筆都驗不過（${why.join(' ')}）` : '搜尋無候選';\n    } else {\n      const t = page.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ');\n      const age = (t.match(/屋齡\\s*([0-9.]{1,5})\\s*年/) || [])[1];\n      if (age) out['屋齡'] = Math.round(Number(age));\n      out['學區'] = [...new Set((t.match(/[一-龥]{2,6}(?:國小|國中)/g) || [])\n        .map(s => s.replace(/^(近|鄰|臨|旁|到|往)/, '')))].filter(s => s.length >= 3).slice(0, 3).join('、');\n      const ycLayout = (t.match(/([0-9]+房[0-9]+廳[0-9]+衛)/) || [])[1] || '';\n      const ycFloor = ((t.match(/([0-9B]{1,3}\\s*\\/\\s*[0-9]{1,3})\\s*樓/) || [])[1] || '').replace(/\\s+/g, '');\n      const eq = (a, b) => String(a).replace(/\\s+/g, '') === String(b).replace(/\\s+/g, '');\n      if (ycLayout && src['格局']) {\n        if (!eq(ycLayout, src['格局'])) { out['格局'] = ''; out['交叉檢查'].push(`格局不一致(KEIS ${src['格局']} / 官網 ${ycLayout})`); }\n      } else if (ycLayout && !src['格局']) { out['格局'] = ycLayout; }\n      if (ycFloor && src['樓層']) {\n        if (!eq(ycFloor, src['樓層'])) { out['樓層'] = ''; out['交叉檢查'].push(`樓層不一致(KEIS ${src['樓層']} / 官網 ${ycFloor})`); }\n      } else if (ycFloor && !src['樓層']) { out['樓層'] = ycFloor; }\n      out.ycNote = 'ok';\n    }\n  } catch (e) {\n    out.ycNote = '查詢失敗：' + (e.message || e);\n  }\n  // ⚠️ 查不到就留空，不要拿 houseol 網址頂替（KEIS 廣告追蹤只收永慶/台慶連結，頂替會被打槍）\n  results.push({ json: { ...src, ...out } });\n}\nreturn results;\n"
      },
      "id": "v3a-y1",
      "name": "永慶官網補資料",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 數字守門員 v2：\n// (1) 文案裡的每個數字都要在官方事實裡找得到\n// (2) 官方沒有的欄位（屋齡/學區），文案裡連提都不准提——擋 AI 自己腦補\nconst j = $input.first().json;\n\nconst facts = new Set();\nconst push = v => {\n  if (v === null || v === undefined || v === '') return;\n  const n = String(v).replace(/,/g, '');\n  facts.add(n);\n  if (/^\\d+\\.\\d+$/.test(n)) { facts.add(String(Math.round(Number(n)))); facts.add(n.split('.')[0]); }\n  if (/^\\d+$/.test(n)) facts.add(String(Number(n)));\n};\n[j['總價萬'], j['單價'], j['主建坪'], j['建物坪'], j['屋齡']].forEach(push);\nconst raw = [j['格局'], j['樓層'], j['地址'], j['案名'], j['社區'], j['車位'], j['學區'],\n  ...(j['賣點'] || []), ...Object.values(j['機能'] || {})].join(' ');\n(raw.match(/\\d+(?:\\.\\d+)?/g) || []).forEach(push);\n['0912877583', '11034791100', '417208', '111'].forEach(push);\n\nconst fb = String(j['粉專文案'] || '');\nconst grp = String(j['社團文案'] || '');\nconst body = fb + '\\n' + grp;\n\n// (1) 數字檢查（先把網址拿掉，LINE 連結的亂碼裡有數字，不是文案在講的數字）\nconst scan = body.replace(/https?:\\/\\/\\S+/g, ' ');\nconst used = [...new Set((scan.match(/\\d+(?:\\.\\d+)?/g) || []))];\nconst badNums = used.filter(n => !facts.has(n) && !facts.has(String(Number(n))));\n\n// (2) 沒資料就不准提\nconst banned = [];\nif (j['屋齡'] === null || j['屋齡'] === undefined || j['屋齡'] === '') {\n  if (/屋齡|年新|新成屋|中古/.test(body)) banned.push('屋齡（官方沒這筆資料）');\n}\nif (!j['學區']) {\n  if (/學區|國小|國中/.test(body)) banned.push('學區（官方沒這筆資料）');\n}\nif (!j['格局'] && /\\d+房\\d+廳/.test(body)) banned.push('格局（官方沒這筆資料）');\nif (!j['樓層'] && /\\d+\\s*\\/\\s*\\d+\\s*樓|樓層/.test(body)) banned.push('樓層（官方沒這筆資料）');\n\nconst ctx = n => {\n  const i = body.indexOf(n);\n  return i < 0 ? '' : body.slice(Math.max(0, i - 12), i + 12).replace(/\\n/g, ' ');\n};\nconst ok = badNums.length === 0 && banned.length === 0;\nconst msg = ok ? '' :\n  `⚠️ ${j.contract_no} 這篇沒發，文案沒過檢查：\\n` +\n  (badNums.length ? `・查無出處的數字：${badNums.map(n => `${n}（…${ctx(n)}…）`).join('；')}\\n` : '') +\n  (banned.length ? `・不該提的項目：${banned.join('、')}\\n` : '') +\n  `Notion 沒有建列，要發請手動處理。`;\n\nreturn [{ json: { ...j, _guardOk: ok, _guardBad: badNums, _guardBanned: banned, _guardMsg: msg } }];\n"
      },
      "id": "v3a-g1",
      "name": "數字守門員",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "v3a-g2c",
              "leftValue": "={{ $json._guardOk }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "v3a-g2",
      "name": "數字都有出處?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: 'Ufab42c56b2eb9b9a9ff18c367b85a6dd', messages: [{ type: 'text', text: $json._guardMsg }] }) }}",
        "options": {}
      },
      "id": "v3a-g3",
      "name": "LINE 守門員告警",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        220
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OmFzUGgZ1xIpAAP5",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://keis.kshouse.com.tw/api/v1/property-management/{{ $('判斷是否被停').first().json.keisId }}/download-images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('KEIS 登入').first().json.body.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "v3a-p1",
      "name": "KEIS 下載照片zip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        0
      ]
    },
    {
      "parameters": {
        "operation": "decompress",
        "binaryPropertyName": "data",
        "outputPrefix": "img_"
      },
      "id": "v3a-p2",
      "name": "解壓照片",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        2150,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// 解壓後所有照片在同一筆的多個 binary 欄位裡，拆成一筆一張，最多 10 張（FB 單篇上限）\nconst item = $input.first();\nconst bin = item.binary || {};\nconst keys = Object.keys(bin).sort((a, b) => String(bin[a].fileName || a).localeCompare(String(bin[b].fileName || b), 'en', { numeric: true }));\nconst pick = keys.filter(k => /image\\//.test(bin[k].mimeType || '')).slice(0, 10);\nif (!pick.length) return [];\nreturn pick.map((k, i) => ({ json: { idx: i, fileName: bin[k].fileName }, binary: { photo: bin[k] } }));\n"
      },
      "id": "v3a-p3",
      "name": "照片分筆",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "manual-fire-once",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "v3a-manual",
      "name": "手動觸發(暫時)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        260
      ],
      "webhookId": "manual-fire-once"
    }
  ],
  "connections": {
    "定時掃描": {
      "main": [
        [
          {
            "node": "KEIS 登入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 撈在售列表": {
      "main": [
        [
          {
            "node": "API 體檢",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "篩選候選": {
      "main": [
        [
          {
            "node": "查 Notion 是否已建",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查 Notion 是否已建": {
      "main": [
        [
          {
            "node": "標記是否已存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "標記是否已存在": {
      "main": [
        [
          {
            "node": "只留未建過",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "只留未建過": {
      "main": [
        [
          {
            "node": "取 1 件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取 1 件": {
      "main": [
        [
          {
            "node": "KEIS 物件詳情",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 物件詳情": {
      "main": [
        [
          {
            "node": "白名單清洗",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "白名單清洗": {
      "main": [
        [
          {
            "node": "永慶官網補資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 產文案": {
      "main": [
        [
          {
            "node": "解析文案+footer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析文案+footer": {
      "main": [
        [
          {
            "node": "數字守門員",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion 建待發列": {
      "main": [
        [
          {
            "node": "組預告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組預告": {
      "main": [
        [
          {
            "node": "LINE 預告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE 預告": {
      "main": [
        [
          {
            "node": "煞車 10 分鐘",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "煞車 10 分鐘": {
      "main": [
        [
          {
            "node": "重查狀態",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重查狀態": {
      "main": [
        [
          {
            "node": "判斷是否被停",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判斷是否被停": {
      "main": [
        [
          {
            "node": "被停?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "被停?": {
      "main": [
        [
          {
            "node": "LINE 已攔截",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "KEIS 下載照片zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB 上傳照片": {
      "main": [
        [
          {
            "node": "收集 media id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "收集 media id": {
      "main": [
        [
          {
            "node": "FB 發貼文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB 發貼文": {
      "main": [
        [
          {
            "node": "取貼文結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取貼文結果": {
      "main": [
        [
          {
            "node": "Notion 標已發布",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion 標已發布": {
      "main": [
        [
          {
            "node": "解析永慶連結",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析永慶連結": {
      "main": [
        [
          {
            "node": "KEIS 新增廣告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 新增廣告": {
      "main": [
        [
          {
            "node": "取 KEIS 廣告ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取 KEIS 廣告ID": {
      "main": [
        [
          {
            "node": "Notion 記 KEIS 廣告ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion 記 KEIS 廣告ID": {
      "main": [
        [
          {
            "node": "LINE 發布通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 登入": {
      "main": [
        [
          {
            "node": "KEIS 撈在售列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API 體檢": {
      "main": [
        [
          {
            "node": "欄位還在?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "欄位還在?": {
      "main": [
        [
          {
            "node": "還原列表",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE 體檢告警",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "還原列表": {
      "main": [
        [
          {
            "node": "篩選候選",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "永慶官網補資料": {
      "main": [
        [
          {
            "node": "Gemini 產文案",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "數字守門員": {
      "main": [
        [
          {
            "node": "數字都有出處?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "數字都有出處?": {
      "main": [
        [
          {
            "node": "Notion 建待發列",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE 守門員告警",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 下載照片zip": {
      "main": [
        [
          {
            "node": "解壓照片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解壓照片": {
      "main": [
        [
          {
            "node": "照片分筆",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "照片分筆": {
      "main": [
        [
          {
            "node": "FB 上傳照片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "手動觸發(暫時)": {
      "main": [
        [
          {
            "node": "KEIS 登入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}