workflows/yc-v3-repost.json
{
  "name": "е»Је‘Ҡv3 йҮҚзҷјијӘжӣҝз·ҡ",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * *"
            }
          ]
        }
      },
      "id": "v3c-01-cron",
      "name": "жҜҸеӨ©21й»һйҮҚзҷј",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/07ee845168b64f8a9b5682e5069c733b/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { and: [ { property: 'иҰҒйҮҚзҷј', checkbox: { equals: true } }, { property: 'зӢҖж…Ӣ', select: { equals: 'е·Ізҷјеёғ' } }, { property: 'зІүе°ҲиІјж–ҮйҖЈзөҗ', url: { is_not_empty: true } }, { property: 'KEISзү©д»¶ID', number: { is_not_empty: true } }, { or: [ { property: 'дёӢж¬ЎйҮҚзҷјжҷӮй–“', date: { is_empty: true } }, { property: 'дёӢж¬ЎйҮҚзҷјжҷӮй–“', date: { on_or_before: $now.setZone('Asia/Taipei').toISODate() } } ] } ] }, sorts: [{ property: 'дёӢж¬ЎйҮҚзҷјжҷӮй–“', direction: 'ascending' }], page_size: 5 }) }}",
        "options": {}
      },
      "id": "v3c-02-list",
      "name": "Notion ж’ҲйҮҚзҷјеҗҚе–®",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// жҢ‘жңҖд№…жІ’йҮҚзҷјзҡ„дёҖзӯҶпјӣжІ’жңүе°ұж•ҙжўқз·ҡйқңйқңзөҗжқҹпјҲдёҚжҺЁ LINEпјү\nconst rows = $input.first().json.results || [];\nif (!rows.length) return [];\nconst p = rows[0].properties || {};\nconst txt = k => (p[k]?.rich_text?.[0]?.plain_text || '');\nconst permalink = p['зІүе°ҲиІјж–ҮйҖЈзөҗ']?.url || '';\n// permalink еҪўеҰӮ https://www.facebook.com/{pageId}/posts/{postId} вҶ’ FB еҲӘж–ҮиҰҒ {pageId}_{postId}\nlet oldPostId = '';\nlet m = permalink.match(/facebook\\.com\\/(\\d+)\\/posts\\/(\\w+)/);\nif (m) { oldPostId = `${m[1]}_${m[2]}`; }\nelse { m = permalink.match(/facebook\\.com\\/(\\d+_\\w+)/); if (m) oldPostId = m[1]; }\nreturn [{ json: {\n  notionPageId: rows[0].id,\n  contract_no: txt('жЎҲд»¶з·Ёиҷҹ').toUpperCase(),\n  keisId: p['KEISзү©д»¶ID']?.number || null,\n  oldPermalink: permalink,\n  oldPostId,\n  йҮҚзҷјж¬Ўж•ё: p['йҮҚзҷјж¬Ўж•ё']?.number || 0,\n  ж–ҮжЎҲзүҲжң¬: p['ж–ҮжЎҲзүҲжң¬']?.number || 1,\n} }];\n"
      },
      "id": "v3c-03-pick",
      "name": "жҢ‘дёҖд»¶йҮҚзҷј",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://keis.kshouse.com.tw/api/v1/auth/login?device_type=desktop",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Referer",
              "value": "https://keis.kshouse.com.tw/login"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "name": "KEIS зҷ»е…Ҙ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "KPvi4Z4Z8IAhKbdz",
          "name": "KEIS еёіеҜҶпјҲиҮӘеӢ•зҷ»е…Ҙпјү"
        }
      },
      "alwaysOutputData": true,
      "position": [
        200,
        0
      ],
      "id": "v3c-844e-4ae7-a76c-f96e309a082e"
    },
    {
      "parameters": {
        "url": "=https://keis.kshouse.com.tw/api/v1/property-management/{{ $('жҢ‘дёҖд»¶йҮҚзҷј').first().json.keisId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('KEIS зҷ»е…Ҙ').first().json.body.access_token }}"
            }
          ]
        }
      },
      "id": "v3c-08-keisdetail",
      "name": "KEIS зү©д»¶и©іжғ…",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// зҷҪеҗҚе–®жё…жҙ—пјҡеҸӘз•ҷе»Је‘Ҡж¬„дҪҚпјҢеұӢдё»еҖӢиіҮ(seller_*/apograph_*)дёҖеҫӢ drop\nconst d = $input.first().json.data || $input.first().json;\nconst num = v => (v === null || v === undefined || v === '') ? null : Number(v);\nconst s = v => (v === null || v === undefined) ? '' : String(v).trim();\nconst features = [d.feature_1, d.feature_2, d.feature_3, d.feature_4, d.feature_5].map(s).filter(Boolean);\nconst ж©ҹиғҪ = { еӯёеҚҖ: s(d.school_info), е•ҶеңҲ: s(d.market_info), жҚ·йҒӢ: s(d.mrt_station), зҒ«и»Ҡ: s(d.train_station), е…¬и»Ҡ: s(d.bus_station) };\n// FB дёҖеүҮиІјж–ҮжңҖеӨҡеё¶ 10 ејөпјҢеӨҡзҡ„дёҚиҰҒдёҠеӮіпјҲд№ӢеүҚе…ЁйғЁеӮіе®ҢжүҚдёҹжҺүпјҢзҷҪиҠұ API е‘јеҸ«пјү\nconst images = (d.images || []).map(x => x.image_url).filter(Boolean).slice(0, 10);\nreturn [{ json: {\n  contract_no: s(d.contract_no).toUpperCase(),\n  keisId: d.id,\n  жЎҲеҗҚ: s(d.case_name),\n  зёҪеғ№иҗ¬: num(d.case_price),\n  е–®еғ№: num(d.unit_price),\n  е»әзү©йЎһеһӢ: s(d.property_type),\n  ж јеұҖ: s(d.layout),\n  дё»е»әеқӘ: (d.main_area == null || d.main_area === '') ? null : Math.round(Number(d.main_area)*10)/10,\n  е»әзү©еқӘ: (d.total_area == null || d.total_area === '') ? null : Math.round(Number(d.total_area)*10)/10,\n  жЁ“еұӨ: s(d.floor_info),\n  зӨҫеҚҖ: s(d.community_name),\n  ең°еқҖ: [s(d.property_address_city), s(d.property_address_district), s(d.property_address_road)].join(''),\n  еұӢйҪЎ: (d.age == null || d.age === '') ? null : Math.round(Number(d.age)),\n  и»ҠдҪҚ: [s(d.parking_type), s(d.parking_method)].filter(Boolean).join('/'),\n  official_url: s(d.official_url),\n  images,\n  иіЈй»һ: features,\n  ж©ҹиғҪ\n}}];"
      },
      "id": "v3c-09-clean",
      "name": "зҷҪеҗҚе–®жё…жҙ—",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{ parts: [{ text: `дҪ жҳҜеҸ°зҒЈиіҮж·ұжҲҝд»Іж–ҮжЎҲеҜ«жүӢгҖӮйҖҷжҳҜеҗҢдёҖзү©д»¶зҡ„гҖҢйҮҚзҷјгҖҚпјҢи«ӢжҸӣдёҖеҖӢеҲҮе…Ҙи§’еәҰгҖҒжҸӣжЁҷйЎҢеҜ«жі•пјҢдёҚиҰҒи·ҹдёҠдёҖзүҲйӣ·еҗҢпјҲдәӢеҜҰж•ёеӯ—д»ҚдёҚеҸҜж”№пјүгҖӮд»ҘдёӢзӮәе®ҳж–№зөҗж§ӢеҢ–дәӢеҜҰпјҢе…ЁйғЁжҳҜйҗөеҫӢпјҢзҰҒжӯўжӣҙж”№д»»дҪ•ж•ёеӯ—гҖҒзҰҒжӯўж–°еўһжңӘжҸҗдҫӣзҡ„иіҮиЁҠпјҲе»Је‘ҠдёҚеҜҰжңүжі•еҫӢиІ¬д»»пјҢеҜ§еҸҜе°‘и¬ӣдёҚеҸҜдәӮз·ЁпјүгҖӮ\n\nгҖҗйҗөеҫӢдәӢеҜҰгҖ‘\nжЎҲеҗҚпјҡ${$json['жЎҲеҗҚ']}\nзёҪеғ№пјҡ${$json['зёҪеғ№иҗ¬']} иҗ¬пјҲж–ҮжЎҲеҸӘиғҪеҮәзҸҫйҖҷеҖӢеғ№ж јж•ёеӯ—пјҢзҰҒжӯўд»»дҪ•е…¶д»–еғ№ж јпјү\nе»әзү©йЎһеһӢпјҡ${$json['е»әзү©йЎһеһӢ']}\nж јеұҖпјҡ${$json['ж јеұҖ']}\nе»әзү©еқӘж•ёпјҡ${$json['е»әзү©еқӘ']} еқӘпјҲдё»е»ә ${$json['дё»е»әеқӘ']} еқӘпјү\nжЁ“еұӨпјҡ${$json['жЁ“еұӨ']}\nеұӢйҪЎпјҡ${$json['еұӢйҪЎ']} е№ҙ\nең°еқҖпјҡ${$json['ең°еқҖ']}\nи»ҠдҪҚпјҡ${$json['и»ҠдҪҚ'] || 'з„Ў'}\n\nгҖҗе”ҜдёҖеҸҜз”Ёзҡ„иіЈй»һзҙ жқҗгҖ‘пјҲеҸӘиғҪж”№еҜ«дёӢеҲ—ж–Үеӯ—пјҢдёҚеҫ—иҮӘиЎҢиЈңеӯёеҚҖ/жҚ·йҒӢ/е»әжқҗ/е•ҶеңҲзӯүжңӘеҲ—иіҮиЁҠпјү\n${($json['иіЈй»һ']||[]).join('\\n')}\nж©ҹиғҪпјҲеғ…еңЁжңүеҖјжҷӮеҸҜжҸҗпјҢз©әзҡ„дёҚеҫ—жқңж’°пјүпјҡеӯёеҚҖгҖҢ${$json['ж©ҹиғҪ']['еӯёеҚҖ']}гҖҚе•ҶеңҲгҖҢ${$json['ж©ҹиғҪ']['е•ҶеңҲ']}гҖҚжҚ·йҒӢгҖҢ${$json['ж©ҹиғҪ']['жҚ·йҒӢ']}гҖҚ\n\nгҖҗзІүе°Ҳдё»й«”гҖ‘200-300 еӯ—пјҡз¬¬дёҖиЎҢгҖҗгҖ‘жЁҷйЎҢпјҲең°ж®ө+жҲҝеһӢ+иіЈй»һ+еғ№ж јпјүпјӣиҰҸж јеҚҖжҜҸиЎҢдёҖ emojiпјҲрҹ“Қең°еқҖ рҹҸ ж јеұҖ рҹ“җеқӘж•ё рҹҸўеұӢйҪЎжЁ“еұӨ рҹ’°й–Ӣеғ№пјҢзјәзҡ„зңҒз•Ҙпјүпјӣз©әиЎҢпјӣвңЁдә®й»һ 3-4 жўқгҖҢгғ»гҖҚй–Ӣй ӯгҖӮеҸ°зҒЈжҲҝд»ІзңҹеҜҰеҸЈеҗ»пјҢзҰҒе®ҳи…”пјҢдёҚж”ҫз·Ёиҷҹ hashtagгҖҒдёҚж”ҫйҖЈзөҗгҖҒдёҚеҠ йӣ»и©ұе…¬еҸёеӯ—иҷҹпјҲзі»зөұиҮӘеӢ•иЈңпјүгҖӮ\nгҖҗзӨҫеңҳдё»й«”гҖ‘50-80 еӯ—пјҡдёҖиЎҢ emoji жЁҷйЎҢпјҲең°ж®ө+жҲҝеһӢ+й—ңйҚөиіЈй»һпјүпјӣ1-2 иЎҢиіЈй»һпјӣзөҗе°ҫгҖҢи©іжғ…зңӢз•ҷиЁҖгҖҚжҲ–гҖҢз§ҒиЁҠзҙўеҸ–гҖҚпјӣдёҚеҜ«е…·й«”еғ№ж јпјҲеҸҜз”ЁжҰӮз•ҘеҰӮдәҢеӯ—й ӯпјүгҖҒдёҚж”ҫйҖЈзөҗгҖҒдёҚеҠ йӣ»и©ұе…¬еҸёеӯ—иҷҹгҖӮ\n\nеҸӘеӣһеӮі JSONпјҡ{\\\"зІүе°Ҳдё»й«”\\\":\\\"\\\",\\\"зӨҫеңҳдё»й«”\\\":\\\"\\\"}пјҢдёҚиҰҒ markdownгҖҒдёҚиҰҒеӨҡйӨҳиӘӘжҳҺгҖӮ` }] }],\n  generationConfig: { temperature: 0.7, maxOutputTokens: 2048, responseMimeType: \"application/json\" }\n}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "v3c-10-gemini",
      "name": "Gemini з”ўж–ҮжЎҲ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "zTIA89pDJJs0Ad29",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst aiText = resp.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet jsonText = aiText.trim().replace(/^```json\\s*/, '').replace(/^```\\s*/, '').replace(/\\s*```$/, '');\nlet parsed;\ntry { parsed = JSON.parse(jsonText); } catch (e) { parsed = { зІүе°Ҳдё»й«”: aiText.trim(), зӨҫеңҳдё»й«”: aiText.trim() }; }\nconst src = $('зҷҪеҗҚе–®жё…жҙ—').first().json;\n// йҺ–еғ№еҫҢиҷ•зҗҶпјҡж–ҮжЎҲе…§йқһе®ҳж–№зёҪеғ№зҡ„еғ№ж јеӯ—дёІпјҢжӣҝжҸӣеӣһе®ҳж–№еҖј\nconst price = src['зёҪеғ№иҗ¬'];\nlet body = String(parsed['зІүе°Ҳдё»й«”'] || '').trim();\nif (price) {\n  const aiNum = (body.match(/(\\d{3,7})\\s*иҗ¬/) || [])[1];\n  if (aiNum && Number(aiNum) !== Number(price)) body = body.split(aiNum + ' иҗ¬').join(price + ' иҗ¬').split(aiNum + 'иҗ¬').join(price + 'иҗ¬');\n}\nconst зІүе°Ҳfooter = '\\n\\nрҹ“һ и–ӣе…Ҳз”ҹ 0912877583пјҲеҗҢ LINEпјү\\nLINEпјҡhttps://line.me/ti/p/kg1pMk4vX8\\n\\nвҖ”\\nеҮұз’ҝиӘјеі°дёҚеӢ•з”ўжңүйҷҗе…¬еҸё\\nз¶“зҙҖжҘӯзү№иЁұеӯ—иҷҹпјҡй«ҳеёӮең°ж”ҝзұҚеӯ—з¬¬11034791100иҷҹ\\nиӯүз…§еӯ—иҷҹпјҡпјҲ111пјүзҷ»еӯ—з¬¬417208иҷҹ';\nconst зӨҫеңҳfooter = '\\n\\nвҖ”\\nеҮұз’ҝиӘјеі°дёҚеӢ•з”ўжңүйҷҗе…¬еҸёпҪңи–ӣе…Ҳз”ҹ 0912877583\\nз¶“зҙҖжҘӯзү№иЁұеӯ—иҷҹпјҡй«ҳеёӮең°ж”ҝзұҚеӯ—з¬¬11034791100иҷҹ';\nconst зІүе°Ҳж–ҮжЎҲ = body + зІүе°Ҳfooter;\nconst зӨҫеңҳж–ҮжЎҲ = String(parsed['зӨҫеңҳдё»й«”'] || '').trim() + зӨҫеңҳfooter;\nreturn [{ json: { ...src, зІүе°Ҳж–ҮжЎҲ, зӨҫеңҳж–ҮжЎҲ } }];"
      },
      "id": "v3c-11-parsecopy",
      "name": "и§Јжһҗж–ҮжЎҲ+footer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// жҠҠ Notion йӮЈйӮҠзҡ„ pageId / иҲҠиІјж–Ү id дҪөеӣһж–ҮжЎҲжөҒ\nconst ctx = $('жҢ‘дёҖд»¶йҮҚзҷј').first().json;\nreturn [{ json: { ...$input.first().json, ...ctx } }];\n"
      },
      "id": "v3c-08-ctx",
      "name": "иЈңдёҠдёӢж–Ү",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "id": "v3c-20-splitimg",
      "name": "жӢҶи§Јз…§зүҮ",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1041868522352339/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.images, published: false }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "v3c-21-uploadphoto",
      "name": "FB дёҠеӮіз…§зүҮ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y6myWnsH0lkRL3CF",
          "name": "FB Page Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fbids = $input.all().map(i => i.json?.id).filter(Boolean).slice(0, 10);\nconst ctx = $('иЈңдёҠдёӢж–Ү').first().json;\nreturn [{ json: { ...ctx, fbids } }];"
      },
      "id": "v3c-22-collect",
      "name": "ж”¶йӣҶ media id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1041868522352339/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(($json.fbids && $json.fbids.length) ? { message: $json['зІүе°Ҳж–ҮжЎҲ'], attached_media: $json.fbids.map(id => ({ media_fbid: id })) } : { message: $json['зІүе°Ҳж–ҮжЎҲ'] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "v3c-23-feed",
      "name": "FB зҷјиІјж–Ү",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y6myWnsH0lkRL3CF",
          "name": "FB Page Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst id = resp.id || resp.post_id || '';\nconst ctx = $('ж”¶йӣҶ media id').first().json;\nconst parts = String(id).split('_');\nconst permalink = id ? (parts.length === 2 ? `https://www.facebook.com/${parts[0]}/posts/${parts[1]}` : `https://www.facebook.com/${id}`) : '';\nreturn [{ json: { ...ctx, fbPostId: id, permalink } }];"
      },
      "id": "v3c-24-postresult",
      "name": "еҸ–иІјж–Үзөҗжһң",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.oldPostId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "v3c-12-del",
      "name": "еҲӘиҲҠиІјж–Ү",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y6myWnsH0lkRL3CF",
          "name": "FB Page Token"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('жҢ‘дёҖд»¶йҮҚзҷј').first().json.notionPageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { 'зІүе°ҲиІјж–ҮйҖЈзөҗ': { url: $('еҸ–иІјж–Үзөҗжһң').first().json.permalink || null }, 'зІүе°Ҳж–ҮжЎҲ': { rich_text: [{ text: { content: String($('еҸ–иІјж–Үзөҗжһң').first().json['зІүе°Ҳж–ҮжЎҲ']||'').slice(0,1900) } }] }, 'зӨҫеңҳж–ҮжЎҲ': { rich_text: [{ text: { content: String($('еҸ–иІјж–Үзөҗжһң').first().json['зӨҫеңҳж–ҮжЎҲ']||'').slice(0,1900) } }] }, 'йҮҚзҷјж¬Ўж•ё': { number: Number($('жҢ‘дёҖд»¶йҮҚзҷј').first().json['йҮҚзҷјж¬Ўж•ё'] || 0) + 1 }, 'ж–ҮжЎҲзүҲжң¬': { number: Number($('жҢ‘дёҖд»¶йҮҚзҷј').first().json['ж–ҮжЎҲзүҲжң¬'] || 1) + 1 }, 'дёӢж¬ЎйҮҚзҷјжҷӮй–“': { date: { start: $now.setZone('Asia/Taipei').plus({ days: 14 }).toISODate() } } } }) }}",
        "options": {}
      },
      "id": "v3c-13-notion",
      "name": "Notion жӣҙж–°йҮҚзҷј",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: 'Ufab42c56b2eb9b9a9ff18c367b85a6dd', messages: [{ type: 'text', text: `рҹ”Ғ е·ІйҮҚзҷј ${$('еҸ–иІјж–Үзөҗжһң').first().json.contract_no}\\n${$('еҸ–иІјж–Үзөҗжһң').first().json.permalink || 'пјҲйҖЈзөҗжңӘеҸ–еҫ—пјҢи«ӢеҲ°зІүе°ҲзўәиӘҚпјү'}\\n\\nиҲҠиІјж–Үе·ІеҲӘпјҢзӨҫеңҳеҲҶдә«и«ӢйҮҚжҢүйҖҷзҜҮзҡ„гҖҢеҲҶдә«гҖҚгҖӮ\\n\\nв”Ғ зӨҫеңҳзүҲ в”Ғ\\n${$('еҸ–иІјж–Үзөҗжһң').first().json['зӨҫеңҳж–ҮжЎҲ'] || ''}` }] }) }}",
        "options": {}
      },
      "id": "v3c-14-line",
      "name": "LINE йҮҚзҷјйҖҡзҹҘ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OmFzUGgZ1xIpAAP5",
          "name": "LINE Channel Access Token"
        }
      }
    }
  ],
  "connections": {
    "жҜҸеӨ©21й»һйҮҚзҷј": {
      "main": [
        [
          {
            "node": "Notion ж’ҲйҮҚзҷјеҗҚе–®",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion ж’ҲйҮҚзҷјеҗҚе–®": {
      "main": [
        [
          {
            "node": "жҢ‘дёҖд»¶йҮҚзҷј",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "жҢ‘дёҖд»¶йҮҚзҷј": {
      "main": [
        [
          {
            "node": "KEIS зҷ»е…Ҙ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS зҷ»е…Ҙ": {
      "main": [
        [
          {
            "node": "KEIS зү©д»¶и©іжғ…",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS зү©д»¶и©іжғ…": {
      "main": [
        [
          {
            "node": "зҷҪеҗҚе–®жё…жҙ—",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "зҷҪеҗҚе–®жё…жҙ—": {
      "main": [
        [
          {
            "node": "Gemini з”ўж–ҮжЎҲ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini з”ўж–ҮжЎҲ": {
      "main": [
        [
          {
            "node": "и§Јжһҗж–ҮжЎҲ+footer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "и§Јжһҗж–ҮжЎҲ+footer": {
      "main": [
        [
          {
            "node": "иЈңдёҠдёӢж–Ү",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "иЈңдёҠдёӢж–Ү": {
      "main": [
        [
          {
            "node": "жӢҶи§Јз…§зүҮ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "жӢҶи§Јз…§зүҮ": {
      "main": [
        [
          {
            "node": "FB дёҠеӮіз…§зүҮ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB дёҠеӮіз…§зүҮ": {
      "main": [
        [
          {
            "node": "ж”¶йӣҶ media id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ж”¶йӣҶ media id": {
      "main": [
        [
          {
            "node": "FB зҷјиІјж–Ү",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB зҷјиІјж–Ү": {
      "main": [
        [
          {
            "node": "еҸ–иІјж–Үзөҗжһң",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "еҸ–иІјж–Үзөҗжһң": {
      "main": [
        [
          {
            "node": "еҲӘиҲҠиІјж–Ү",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "еҲӘиҲҠиІјж–Ү": {
      "main": [
        [
          {
            "node": "Notion жӣҙж–°йҮҚзҷј",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion жӣҙж–°йҮҚзҷј": {
      "main": [
        [
          {
            "node": "LINE йҮҚзҷјйҖҡзҹҘ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}