workflows/yc-v3-removal.json
{
  "name": "廣告v3 下架偵測線",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * *"
            }
          ]
        }
      },
      "id": "v3b-01-cron",
      "name": "每日 08:00 偵測",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1300,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/07ee845168b64f8a9b5682e5069c733b/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: '狀態', select: { equals: '已發布' } }, page_size: 100 }) }}",
        "options": {}
      },
      "id": "v3b-02-query",
      "name": "查 Notion 已發布",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1080,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nreturn results.map(p => ({ json: {\n  pageId: p.id,\n  caseName: p.properties?.['案名']?.title?.[0]?.plain_text || '(未命名)',\n  contract_no: (p.properties?.['案件編號']?.rich_text?.[0]?.plain_text || '').toUpperCase(),\n  fbPostUrl: p.properties?.['粉專貼文連結']?.url || '',\n  keisAdId: p.properties?.['KEIS廣告ID']?.number || 0,\n  sourceUrl: p.properties?.['來源連結']?.url || ''\n}})).filter(x => x.json.contract_no);"
      },
      "id": "v3b-03-expand",
      "name": "展開結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        128
      ]
    },
    {
      "parameters": {
        "url": "=https://keis.kshouse.com.tw/api/v1/property-management/?page=1&page_size=1&search={{ $json.contract_no }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('KEIS 登入').first().json.body.access_token }}"
            }
          ]
        }
      },
      "id": "v3b-04-keis",
      "name": "KEIS 查 is_active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        128
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 下架判定，兩套邏輯：\n//\n// (1) 有 KEIS廣告ID 的（v3 自己發的）→ 直接看 KEIS 廣告追蹤怎麼標。\n//     那個頁面本來就是拿來盯廣告死活的：KEIS 每天凌晨會去抓一輪 adcase_url，\n//     失效就把 url_invalid 設成 true、status_tags 加「案件下架」。實測新增時也會在 ~15 秒內抓一次。\n//     這比我們自己去打永慶網站準，也不用每筆手動確認。\n//\n// (2) 沒有 KEIS廣告ID 的（v2 時期用 LINE 手動建檔的舊資料，本來就不在 KEIS）\n//     → 退回雙重確認：property-management 查無 **而且** 來源連結真的死了。\n//     只看其中一邊都會誤判：舊資料本來就不在 KEIS；而 houseol 的來源連結會自己爛掉（物件還在賣）。\nconst responses = $input.all();\nconst sources = $('展開結果').all();\n\nconst adMap = {};\ntry {\n  const raw = $('KEIS 撈廣告清單').first().json;\n  const body = raw.body ?? raw;\n  for (const a of (body.adcases || [])) adMap[a.adcase_id] = a;\n} catch (e) {}\n\nconst out = [];\nfor (let i = 0; i < responses.length; i++) {\n  const inItem = sources[i]?.json || {};\n  const adId = Number(inItem.keisAdId || 0);\n  let isRemoved = false, reason = '';\n\n  if (adId > 0) {\n    const ad = adMap[adId];\n    if (!ad) {\n      reason = `KEIS 廣告追蹤查無 #${adId}（可能被手動刪掉）→ 略過`;\n    } else {\n      const tags = Array.isArray(ad.status_tags) ? ad.status_tags : [];\n      const tagDead = tags.some(t => String(t).includes('下架'));\n      if (ad.url_invalid === true || tagDead) {\n        isRemoved = true;\n        reason = 'KEIS 廣告追蹤標記官網連結已失效' + (tags.length ? `（${tags.join('、')}）` : '');\n      } else if (ad.is_expired === true) {\n        isRemoved = true;\n        reason = 'KEIS 廣告追蹤上這筆已結束';\n      } else {\n        reason = 'KEIS 廣告追蹤顯示連結正常';\n      }\n    }\n  } else {\n    const r = responses[i].json || {};\n    const status = Number(r.statusCode ?? r.status ?? 0);\n    const body = r.body ?? r;\n    let keisOk = false, keisGone = false;\n    if (status === 200 && body && typeof body === 'object') {\n      keisOk = true;\n      const items = body.items || body.data || [];\n      const total = body.total != null ? Number(body.total) : items.length;\n      if (total === 0) { keisGone = true; reason = '(舊資料) KEIS 查無此案'; }\n      else if (items[0] && items[0].is_active === false) { keisGone = true; reason = '(舊資料) KEIS is_active=false'; }\n      else { reason = '(舊資料) 仍在架上'; }\n    } else {\n      reason = `(舊資料) KEIS 暫時無法確認(HTTP ${status})，本次略過`;\n    }\n    if (keisOk && keisGone) {\n      const url = inItem.sourceUrl || '';\n      if (!url) {\n        reason += '；無來源連結可二次確認 → 略過';\n      } else {\n        try {\n          const resp = await this.helpers.httpRequest({\n            url, json: false, timeout: 20000, returnFullResponse: true, ignoreHttpStatusErrors: true,\n            headers: { 'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120 Safari/537.36' } });\n          const code = Number(resp.statusCode || 0);\n          const html = String(resp.body || '');\n          const dead = code >= 400 || /已下架|物件不存在|已成交|查無此物件|查無此案/.test(html);\n          if (dead) { isRemoved = true; reason += `；來源連結已失效(HTTP ${code}) → 判定下架`; }\n          else { reason += `；但來源連結仍正常(HTTP ${code}) → 略過`; }\n        } catch (e) {\n          reason += '；來源連結查詢失敗 → 略過';\n        }\n      }\n    }\n  }\n  out.push({ json: { ...inItem, isRemoved, reason, detectedAt: new Date().toISOString() } });\n}\nreturn out;"
      },
      "id": "v3b-05-judge",
      "name": "判斷是否下架",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isRemoved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "v3b-06-if",
      "name": "IF 已下架?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst m = (j.fbPostUrl || '').match(/facebook\\.com\\/(\\d+_\\d+)/);\nreturn [{ json: { ...j, fbPostId: m ? m[1] : '', hasFbPost: !!(m && m[1]) } }];"
      },
      "id": "v3b-07-prep",
      "name": "備妥刪文",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        16
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.fbPostId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "id": "v3b-08-del",
      "name": "FB 刪貼文",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        16
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y6myWnsH0lkRL3CF",
          "name": "FB Page Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prep = $('備妥刪文').item.json;\nconst resp = $json || {};\nconst rb = resp.body ?? resp;\nlet ok, failed, errMsg = '';\nif (!prep.hasFbPost) { ok = true; failed = false; }\nelse {\n  const success = rb === true || rb?.success === true || (typeof rb === 'string' && rb.includes('success'));\n  errMsg = rb?.error?.message || '';\n  const alreadyGone = /does not exist|Unsupported (get|delete) request|cannot be loaded|Object with ID/i.test(errMsg);\n  ok = success || alreadyGone;\n  failed = !ok;\n}\nreturn [{ json: { ...prep, fbDeleted: prep.hasFbPost && ok, fbDeleteFailed: failed, fbDeleteError: failed ? (errMsg || 'unknown') : '', markRemoved: ok } }];"
      },
      "id": "v3b-09-delresult",
      "name": "判定刪除結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.markRemoved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "v3b-10-ifmark",
      "name": "可標下架?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        16
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.pageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { '狀態': { select: { name: '下架' } }, '下架偵測時間': { date: { start: $json.detectedAt } } } }) }}",
        "options": {}
      },
      "id": "v3b-11-patch",
      "name": "PATCH 標記下架",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        -96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.userId, messages: [{ type: 'text', text: $json.summaryText }] }) }}",
        "options": {}
      },
      "id": "v3b-13-push",
      "name": "LINE Push 摘要",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        128
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OmFzUGgZ1xIpAAP5",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 線D：下架後把 KEIS 廣告追蹤那筆標成已結束。沒有 adcase id 就跳過。\n// 上游「可標下架?」已濾掉 markRemoved=false，所以照順序對得起來。\nconst src = $('判定刪除結果').all().map(i => i.json).filter(x => x.markRemoved);\nreturn $input.all().map((_, i) => {\n  const c = src[i] || {};\n  const id = Number(c.keisAdId || 0);\n  return { json: { ...c, keisAdId: id, hasKeisAd: id > 0 } };\n});"
      },
      "name": "備妥 KEIS 關閉",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -96
      ],
      "onError": "continueRegularOutput",
      "id": "0b823a48-27f4-4a5b-bf4b-c23f2dd20ecd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasKeisAd }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "有 KEIS 廣告?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        -96
      ],
      "id": "42f97e5a-7db9-439b-9ed9-b47c94ad8449"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://keis.kshouse.com.tw/api/v1/adcases/{{ $json.keisAdId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('KEIS 登入').first().json.body.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ is_expired: true }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "name": "KEIS 關閉廣告",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        -96
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "id": "14b794d8-af08-4408-81ac-5a7c2ad848f6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://keis.kshouse.com.tw/api/v1/auth/login?device_type=desktop",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Referer",
              "value": "https://keis.kshouse.com.tw/login"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "name": "KEIS 登入",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "KPvi4Z4Z8IAhKbdz",
          "name": "KEIS 帳密（自動登入）"
        }
      },
      "alwaysOutputData": true,
      "position": [
        -1180,
        -32
      ],
      "id": "8e2a2cc6-cfd4-41fc-aa9c-edeec26160cf"
    },
    {
      "parameters": {
        "url": "https://keis.kshouse.com.tw/api/v1/adcases?skip=0&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('KEIS 登入').first().json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "name": "KEIS 撈廣告清單",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -980,
        -32
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "id": "63a757eb-86e3-4008-95f7-4d4c797e6fb4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1",
              "leftValue": "={{ $json.fbDeleteFailed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "篩出刪文失敗",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        660,
        276
      ],
      "id": "14266bb0-e37f-48c9-a19b-87d70d6a0213"
    },
    {
      "parameters": {
        "jsCode": "\n// 只有「粉專貼文自動刪除失敗」才會走到這。把連結附上讓使用者點進去直接刪。\nconst rows = $input.all().map(i => i.json);\nconst lines = rows.map(r =>\n  `・${r.caseName}（${r.contract_no}）\\n　${r.fbPostUrl || '(Notion 沒存連結，請到粉專找)'}\\n　錯誤：${r.fbDeleteError || '未知'}`\n).join('\\n\\n');\nconst text = `⚠️ 粉專貼文自動刪除失敗（${rows.length} 筆）\\n\\n`\n  + `物件已下架但貼文還掛在粉專上，點連結進去手動刪：\\n\\n${lines}\\n\\n`\n  + `這幾筆的 Notion 狀態還是「已發布」，明天 08:00 會自動再試一次。\\n`\n  + `如果連續幾天都收到這則，代表 FB 權杖有問題，要重新產。`;\nreturn [{ json: { userId: 'Ufab42c56b2eb9b9a9ff18c367b85a6dd', summaryText: text } }];"
      },
      "name": "組刪文失敗通知",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        276
      ],
      "id": "e2be5ef4-4e30-497c-a090-ef71cde3f7ef"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "k1",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "篩出 KEIS 故障",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -140,
        476
      ],
      "id": "0fa89571-dffa-42bc-87ca-5ceb87a203f8"
    },
    {
      "parameters": {
        "jsCode": "\n// KEIS 撈不到資料 → 今天的下架偵測等於沒跑，要讓使用者知道（不然是靜悄悄地壞掉）。\nconst r = $input.first().json || {};\nconst code = r.statusCode ?? '無回應';\nconst text = `🔧 廣告下架偵測今天沒跑成功\\n\\n`\n  + `KEIS 廣告追蹤撈不到資料（HTTP ${code}）。\\n`\n  + `今天不會有任何自動下架動作，明天 08:00 會再試。\\n\\n`\n  + `連續兩天收到就要查 KEIS 帳密或系統狀態。`;\nreturn [{ json: { userId: 'Ufab42c56b2eb9b9a9ff18c367b85a6dd', summaryText: text } }];"
      },
      "name": "組 KEIS 故障通知",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        476
      ],
      "id": "4e3ecf9c-b9a9-4e0d-91fa-fb7cff293e40"
    }
  ],
  "connections": {
    "每日 08:00 偵測": {
      "main": [
        [
          {
            "node": "KEIS 登入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查 Notion 已發布": {
      "main": [
        [
          {
            "node": "展開結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "展開結果": {
      "main": [
        [
          {
            "node": "KEIS 查 is_active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 查 is_active": {
      "main": [
        [
          {
            "node": "判斷是否下架",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判斷是否下架": {
      "main": [
        [
          {
            "node": "IF 已下架?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 已下架?": {
      "main": [
        [
          {
            "node": "備妥刪文",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "備妥刪文": {
      "main": [
        [
          {
            "node": "FB 刪貼文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB 刪貼文": {
      "main": [
        [
          {
            "node": "判定刪除結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判定刪除結果": {
      "main": [
        [
          {
            "node": "可標下架?",
            "type": "main",
            "index": 0
          },
          {
            "node": "篩出刪文失敗",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "可標下架?": {
      "main": [
        [
          {
            "node": "PATCH 標記下架",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "PATCH 標記下架": {
      "main": [
        [
          {
            "node": "備妥 KEIS 關閉",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "備妥 KEIS 關閉": {
      "main": [
        [
          {
            "node": "有 KEIS 廣告?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有 KEIS 廣告?": {
      "main": [
        [
          {
            "node": "KEIS 關閉廣告",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "KEIS 登入": {
      "main": [
        [
          {
            "node": "KEIS 撈廣告清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 撈廣告清單": {
      "main": [
        [
          {
            "node": "查 Notion 已發布",
            "type": "main",
            "index": 0
          },
          {
            "node": "篩出 KEIS 故障",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "篩出刪文失敗": {
      "main": [
        [
          {
            "node": "組刪文失敗通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組刪文失敗通知": {
      "main": [
        [
          {
            "node": "LINE Push 摘要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "篩出 KEIS 故障": {
      "main": [
        [
          {
            "node": "組 KEIS 故障通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組 KEIS 故障通知": {
      "main": [
        [
          {
            "node": "LINE Push 摘要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}