workflows/yc-v3-stop.json
{
  "name": "廣告v3 煞車（停）",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yc-v3-stop",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "87cd7024-1db2-4df6-824c-8158a9eb7f07",
      "name": "Webhook 接收",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1056,
        80
      ],
      "webhookId": "yc-v3-stop"
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json.events?.[0] || $input.first().json.body?.events?.[0];\nconst text = event?.message?.text || '';\nconst replyToken = event?.replyToken || '';\nconst m = text.match(/停[\\s\\u3000]*([A-Za-z]{2}\\d{4,})/i);\nconst contract_no = m ? m[1].toUpperCase() : '';\nreturn [{ json: { contract_no, replyToken, rawText: text } }];"
      },
      "id": "1fb7a532-061a-4e79-a83a-17599d2c4ce7",
      "name": "解析指令",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/07ee845168b64f8a9b5682e5069c733b/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: ($json.contract_no ? { and: [ { property: '狀態', select: { equals: '待發' } }, { property: '案件編號', rich_text: { equals: $json.contract_no } } ] } : { property: '狀態', select: { equals: '待發' } }), page_size: 25 }) }}",
        "options": {}
      },
      "id": "eb9fe820-6a62-4727-9d7d-5f4ffe101064",
      "name": "查待發列",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cmd = $('解析指令').first().json;\nconst results = $input.first().json.results || [];\nif (results.length === 0) {\n  return [{ json: { _none: true, replyToken: cmd.replyToken } }];\n}\nreturn results.map(p => ({ json: {\n  _none: false,\n  pageId: p.id,\n  caseName: p.properties?.['案名']?.title?.[0]?.plain_text || '(未命名)',\n  contract_no: p.properties?.['案件編號']?.rich_text?.[0]?.plain_text || '',\n  replyToken: cmd.replyToken\n}}));"
      },
      "id": "5e618a58-33a7-4ed5-beb0-f4ba004bcaa6",
      "name": "展開待發",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "nn1",
              "leftValue": "={{ $json._none }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "67839794-45dc-4068-a10e-d0ab13fea124",
      "name": "沒有待發?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        80
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.pageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { '狀態': { select: { name: '取消' } } } }) }}",
        "options": {}
      },
      "id": "6318094a-2e9a-4596-b386-0c4177ee473e",
      "name": "標記取消",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $('展開待發').all().map(i => i.json).filter(x => !x._none);\nconst replyToken = rows[0]?.replyToken || '';\nconst list = rows.map(r => `・${r.caseName}（${r.contract_no}）`).join('\\n');\nreturn [{ json: { replyToken, replyText: `🛑 已攔截 ${rows.length} 件，不會發出：\\n\\n${list}` } }];"
      },
      "id": "84fb3602-ebc7-40c5-b21c-ff2b9b78d879",
      "name": "組成功訊息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { replyToken: $json.replyToken, replyText: '目前沒有待發的廣告可以攔截（可能已經發出或已取消）。' } }];"
      },
      "id": "99512409-224b-479d-9fcc-333fccc7a699",
      "name": "組無待發訊息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replyToken: $json.replyToken, messages: [{ type: 'text', text: $json.replyText }] }) }}",
        "options": {}
      },
      "id": "d2642f2c-63d5-46df-86d7-921e9d10a050",
      "name": "LINE 回覆",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OmFzUGgZ1xIpAAP5",
          "name": "LINE Channel Access Token"
        }
      }
    }
  ],
  "connections": {
    "Webhook 接收": {
      "main": [
        [
          {
            "node": "解析指令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析指令": {
      "main": [
        [
          {
            "node": "查待發列",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查待發列": {
      "main": [
        [
          {
            "node": "展開待發",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "展開待發": {
      "main": [
        [
          {
            "node": "沒有待發?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "沒有待發?": {
      "main": [
        [
          {
            "node": "組無待發訊息",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "標記取消",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "標記取消": {
      "main": [
        [
          {
            "node": "組成功訊息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組成功訊息": {
      "main": [
        [
          {
            "node": "LINE 回覆",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組無待發訊息": {
      "main": [
        [
          {
            "node": "LINE 回覆",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}