workflows/yc-v3-removal.json
{
  "_note": "廣告 v3 線 B：下架偵測（用 KEIS is_active，非爬 HTML）。詳規見 docs/v3-ad-auto-workorder.md。\n流程：cron → 查 Notion『狀態=已發布』→ 逐件 KEIS 列表 API `?search=合約編號` 查 is_active → 已 false 或查無 → 刪 FB 貼文 → Notion 標下架 → LINE Push 通知。\n安全設計：\n1. 只有 KEIS 明確回『查無(total=0)』或 is_active=false 才判下架；KEIS API 逾時/非 200/回傳異常 → 一律當『還在架上』略過，避免 KEIS 掛掉時誤刪全部廣告。\n2. 刪 FB 失敗 → 不標下架，列入故障通知等人工。\n匯入前設 credential：KEIS API Token（換 EaVn8LzS7lT5tW10）、FB Page Token（換 Y6myWnsH0lkRL3CF）、Notion/LINE 沿用。\n開新空白 workflow 再 Import。",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * *"
            }
          ]
        }
      },
      "id": "v3b-01-cron",
      "name": "每日 08:00 偵測",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1300,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/07ee845168b64f8a9b5682e5069c733b/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: '狀態', select: { equals: '已發布' } }, page_size: 100 }) }}",
        "options": {}
      },
      "id": "v3b-02-query",
      "name": "查 Notion 已發布",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1080,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nreturn results.map(p => ({ json: {\n  pageId: p.id,\n  caseName: p.properties?.['案名']?.title?.[0]?.plain_text || '(未命名)',\n  contract_no: (p.properties?.['案件編號']?.rich_text?.[0]?.plain_text || '').toUpperCase(),\n  fbPostUrl: p.properties?.['粉專貼文連結']?.url || '',\n  keisAdId: p.properties?.['KEIS廣告ID']?.number || 0,\n  sourceUrl: p.properties?.['來源連結']?.url || ''\n}})).filter(x => x.json.contract_no);"
      },
      "id": "v3b-03-expand",
      "name": "展開結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        128
      ]
    },
    {
      "parameters": {
        "url": "=https://keis.kshouse.com.tw/api/v1/property-management/?page=1&page_size=1&search={{ $json.contract_no }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('KEIS 登入').first().json.body.access_token }}"
            }
          ]
        }
      },
      "id": "v3b-04-keis",
      "name": "KEIS 查 is_active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        128
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 下架判定，兩套邏輯：\n//\n// (1) 有 KEIS廣告ID 的（v3 自己發的）→ 直接看 KEIS 廣告追蹤怎麼標。\n//     那個頁面本來就是拿來盯廣告死活的：KEIS 每天凌晨會去抓一輪 adcase_url，\n//     失效就把 url_invalid 設成 true、status_tags 加「案件下架」。實測新增時也會在 ~15 秒內抓一次。\n//     這比我們自己去打永慶網站準，也不用每筆手動確認。\n//\n// (2) 沒有 KEIS廣告ID 的（v2 時期用 LINE 手動建檔的舊資料，本來就不在 KEIS）\n//     → 退回雙重確認：property-management 查無 **而且** 來源連結真的死了。\n//     只看其中一邊都會誤判：舊資料本來就不在 KEIS；而 houseol 的來源連結會自己爛掉（物件還在賣）。\nconst responses = $input.all();\nconst sources = $('展開結果').all();\n\nconst adMap = {};\ntry {\n  const raw = $('KEIS 撈廣告清單').first().json;\n  const body = raw.body ?? raw;\n  for (const a of (body.adcases || [])) adMap[a.adcase_id] = a;\n} catch (e) {}\n\nconst out = [];\nfor (let i = 0; i < responses.length; i++) {\n  const inItem = sources[i]?.json || {};\n  const adId = Number(inItem.keisAdId || 0);\n  let isRemoved = false, reason = '';\n\n  if (adId > 0) {\n    const ad = adMap[adId];\n    if (!ad) {\n      reason = `KEIS 廣告追蹤查無 #${adId}（可能被手動刪掉）→ 略過`;\n    } else {\n      const tags = Array.isArray(ad.status_tags) ? ad.status_tags : [];\n      const tagDead = tags.some(t => String(t).includes('下架'));\n      if (ad.url_invalid === true || tagDead) {\n        isRemoved = true;\n        reason = 'KEIS 廣告追蹤標記官網連結已失效' + (tags.length ? `（${tags.join('、')}）` : '');\n      } else if (ad.is_expired === true) {\n        isRemoved = true;\n        reason = 'KEIS 廣告追蹤上這筆已結束';\n      } else {\n        reason = 'KEIS 廣告追蹤顯示連結正常';\n      }\n    }\n  } else {\n    const r = responses[i].json || {};\n    const status = Number(r.statusCode ?? r.status ?? 0);\n    const body = r.body ?? r;\n    let keisOk = false, keisGone = false;\n    if (status === 200 && body && typeof body === 'object') {\n      keisOk = true;\n      const items = body.items || body.data || [];\n      const total = body.total != null ? Number(body.total) : items.length;\n      if (total === 0) { keisGone = true; reason = '(舊資料) KEIS 查無此案'; }\n      else if (items[0] && items[0].is_active === false) { keisGone = true; reason = '(舊資料) KEIS is_active=false'; }\n      else { reason = '(舊資料) 仍在架上'; }\n    } else {\n      reason = `(舊資料) KEIS 暫時無法確認(HTTP ${status})，本次略過`;\n    }\n    if (keisOk && keisGone) {\n      const url = inItem.sourceUrl || '';\n      if (!url) {\n        reason += '；無來源連結可二次確認 → 略過';\n      } else {\n        try {\n          const resp = await this.helpers.httpRequest({\n            url, json: false, timeout: 20000, returnFullResponse: true, ignoreHttpStatusErrors: true,\n            headers: { 'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120 Safari/537.36' } });\n          const code = Number(resp.statusCode || 0);\n          const html = String(resp.body || '');\n          const dead = code >= 400 || /已下架|物件不存在|已成交|查無此物件|查無此案/.test(html);\n          if (dead) { isRemoved = true; reason += `；來源連結已失效(HTTP ${code}) → 判定下架`; }\n          else { reason += `；但來源連結仍正常(HTTP ${code}) → 略過`; }\n        } catch (e) {\n          reason += '；來源連結查詢失敗 → 略過';\n        }\n      }\n    }\n  }\n  out.push({ json: { ...inItem, isRemoved, reason, detectedAt: new Date().toISOString() } });\n}\nreturn out;"
      },
      "id": "v3b-05-judge",
      "name": "判斷是否下架",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isRemoved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "v3b-06-if",
      "name": "IF 已下架?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst m = (j.fbPostUrl || '').match(/facebook\\.com\\/(\\d+_\\d+)/);\nreturn [{ json: { ...j, fbPostId: m ? m[1] : '', hasFbPost: !!(m && m[1]) } }];"
      },
      "id": "v3b-07-prep",
      "name": "備妥刪文",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        16
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.fbPostId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "id": "v3b-08-del",
      "name": "FB 刪貼文",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        16
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y6myWnsH0lkRL3CF",
          "name": "FB Page Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prep = $('備妥刪文').item.json;\nconst resp = $json || {};\nconst rb = resp.body ?? resp;\nlet ok, failed, errMsg = '';\nif (!prep.hasFbPost) { ok = true; failed = false; }\nelse {\n  const success = rb === true || rb?.success === true || (typeof rb === 'string' && rb.includes('success'));\n  errMsg = rb?.error?.message || '';\n  const alreadyGone = /does not exist|Unsupported (get|delete) request|cannot be loaded|Object with ID/i.test(errMsg);\n  ok = success || alreadyGone;\n  failed = !ok;\n}\nreturn [{ json: { ...prep, fbDeleted: prep.hasFbPost && ok, fbDeleteFailed: failed, fbDeleteError: failed ? (errMsg || 'unknown') : '', markRemoved: ok } }];"
      },
      "id": "v3b-09-delresult",
      "name": "判定刪除結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.markRemoved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "v3b-10-ifmark",
      "name": "可標下架?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        16
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.pageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { '狀態': { select: { name: '下架' } }, '下架偵測時間': { date: { start: $json.detectedAt } } } }) }}",
        "options": {}
      },
      "id": "v3b-11-patch",
      "name": "PATCH 標記下架",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        -96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const checked = $('判斷是否下架').all().map(i => i.json);\nconst total = checked.length;\nconst removed = checked.filter(x => x.isRemoved);\nconst today = new Date().toLocaleDateString('zh-TW', { timeZone: 'Asia/Taipei' });\nlet outcomes = [];\ntry { outcomes = $('判定刪除結果').all().map(i => i.json); } catch (e) {}\nconst byPage = {}; outcomes.forEach(o => byPage[o.pageId] = o);\nlet text;\nif (total === 0) text = `🌅 下架偵測 ${today}\\n\\n沒有已發布的廣告需要偵測。`;\nelse if (removed.length === 0) text = `🌅 下架偵測 ${today}\\n\\n✅ 檢查 ${total} 筆，全部仍在架上。`;\nelse {\n  const lines = removed.map(r => {\n    const o = byPage[r.pageId] || {};\n    const tag = o.fbDeleteFailed ? `⚠️粉專刪除失敗（${o.fbDeleteError}）→ 狀態未改，請手動刪` : (o.fbDeleted ? '粉專貼文已自動刪除' : '無粉專貼文');\n    return `・${r.caseName}（${r.contract_no}）— ${r.reason}；${tag}`;\n  }).join('\\n');\n  const failCount = removed.filter(r => (byPage[r.pageId] || {}).fbDeleteFailed).length;\n  text = `🚨 下架偵測 ${today}\\n\\n檢查 ${total} 筆，${removed.length} 筆已下架：\\n\\n${lines}` + (failCount ? `\\n\\n⚠️ ${failCount} 筆粉專刪除失敗，需你手動處理。` : '');\n}\nreturn [{ json: { userId: 'Ufab42c56b2eb9b9a9ff18c367b85a6dd', summaryText: text } }];"
      },
      "id": "v3b-12-summary",
      "name": "彙總結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        128
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.userId, messages: [{ type: 'text', text: $json.summaryText }] }) }}",
        "options": {}
      },
      "id": "v3b-13-push",
      "name": "LINE Push 摘要",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        128
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OmFzUGgZ1xIpAAP5",
          "name": "LINE Channel Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 線D：下架後把 KEIS 廣告追蹤那筆標成已結束。沒有 adcase id 就跳過。\n// 上游「可標下架?」已濾掉 markRemoved=false，所以照順序對得起來。\nconst src = $('判定刪除結果').all().map(i => i.json).filter(x => x.markRemoved);\nreturn $input.all().map((_, i) => {\n  const c = src[i] || {};\n  const id = Number(c.keisAdId || 0);\n  return { json: { ...c, keisAdId: id, hasKeisAd: id > 0 } };\n});"
      },
      "name": "備妥 KEIS 關閉",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -96
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasKeisAd }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "有 KEIS 廣告?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        -96
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://keis.kshouse.com.tw/api/v1/adcases/{{ $json.keisAdId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('KEIS 登入').first().json.body.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ is_expired: true }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "name": "KEIS 關閉廣告",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        -96
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://keis.kshouse.com.tw/api/v1/auth/login?device_type=desktop",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Referer",
              "value": "https://keis.kshouse.com.tw/login"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "name": "KEIS 登入",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "KPvi4Z4Z8IAhKbdz",
          "name": "KEIS 帳密（自動登入）"
        }
      },
      "alwaysOutputData": true,
      "position": [
        -1180,
        -32
      ]
    },
    {
      "parameters": {
        "url": "https://keis.kshouse.com.tw/api/v1/adcases?skip=0&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('KEIS 登入').first().json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "name": "KEIS 撈廣告清單",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -980,
        -32
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "每日 08:00 偵測": {
      "main": [
        [
          {
            "node": "KEIS 登入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查 Notion 已發布": {
      "main": [
        [
          {
            "node": "展開結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "展開結果": {
      "main": [
        [
          {
            "node": "KEIS 查 is_active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 查 is_active": {
      "main": [
        [
          {
            "node": "判斷是否下架",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判斷是否下架": {
      "main": [
        [
          {
            "node": "IF 已下架?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 已下架?": {
      "main": [
        [
          {
            "node": "備妥刪文",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "彙總結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "備妥刪文": {
      "main": [
        [
          {
            "node": "FB 刪貼文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB 刪貼文": {
      "main": [
        [
          {
            "node": "判定刪除結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判定刪除結果": {
      "main": [
        [
          {
            "node": "可標下架?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "可標下架?": {
      "main": [
        [
          {
            "node": "PATCH 標記下架",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "彙總結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH 標記下架": {
      "main": [
        [
          {
            "node": "備妥 KEIS 關閉",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "備妥 KEIS 關閉": {
      "main": [
        [
          {
            "node": "有 KEIS 廣告?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有 KEIS 廣告?": {
      "main": [
        [
          {
            "node": "KEIS 關閉廣告",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "彙總結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 關閉廣告": {
      "main": [
        [
          {
            "node": "彙總結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 登入": {
      "main": [
        [
          {
            "node": "KEIS 撈廣告清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 撈廣告清單": {
      "main": [
        [
          {
            "node": "查 Notion 已發布",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "7ba581e9dd81831121dfd6e8e7d2138fd3f9916fe6e8e591c654d8745a11fd69"
  }
}