workflows/yc-v3-repost.json
{
  "name": "廣告v3 重發輪替線",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 9,11,13,15,17,19 * * *"
            }
          ]
        }
      },
      "id": "v3c-01-cron",
      "name": "重發時段",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/07ee845168b64f8a9b5682e5069c733b/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { and: [ { property: '要重發', checkbox: { equals: true } }, { property: '狀態', select: { equals: '已發布' } }, { property: '粉專貼文連結', url: { is_not_empty: true } }, { property: 'KEIS物件ID', number: { is_not_empty: true } } ] }, sorts: [{ property: '最後重發時間', direction: 'ascending' }], page_size: 5 }) }}",
        "options": {}
      },
      "id": "v3c-02-list",
      "name": "Notion 撈重發名單",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 挑最久沒重發的一筆；沒有就整條線靜靜結束（不推 LINE）\nconst rows = $input.first().json.results || [];\nif (!rows.length) return [];\nconst p = rows[0].properties || {};\nconst txt = k => (p[k]?.rich_text?.[0]?.plain_text || '');\nconst permalink = p['粉專貼文連結']?.url || '';\n// permalink 形如 https://www.facebook.com/{pageId}/posts/{postId} → FB 刪文要 {pageId}_{postId}\nlet oldPostId = '';\nlet m = permalink.match(/facebook\\.com\\/(\\d+)\\/posts\\/(\\w+)/);\nif (m) { oldPostId = `${m[1]}_${m[2]}`; }\nelse { m = permalink.match(/facebook\\.com\\/(\\d+_\\w+)/); if (m) oldPostId = m[1]; }\nreturn [{ json: {\n  notionPageId: rows[0].id,\n  contract_no: txt('案件編號').toUpperCase(),\n  keisId: p['KEIS物件ID']?.number || null,\n  oldPermalink: permalink,\n  oldPostId,\n  重發次數: p['重發次數']?.number || 0,\n  文案版本: p['文案版本']?.number || 1,\n} }];\n"
      },
      "id": "v3c-03-pick",
      "name": "挑一件重發",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://keis.kshouse.com.tw/api/v1/auth/login?device_type=desktop",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Referer",
              "value": "https://keis.kshouse.com.tw/login"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "name": "KEIS 登入",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "KPvi4Z4Z8IAhKbdz",
          "name": "KEIS 帳密（自動登入）"
        }
      },
      "alwaysOutputData": true,
      "position": [
        200,
        0
      ],
      "id": "v3c-844e-4ae7-a76c-f96e309a082e"
    },
    {
      "parameters": {
        "url": "=https://keis.kshouse.com.tw/api/v1/property-management/{{ $('挑一件重發').first().json.keisId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('KEIS 登入').first().json.body.access_token }}"
            }
          ]
        }
      },
      "id": "v3c-08-keisdetail",
      "name": "KEIS 物件詳情",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// 白名單清洗：只留廣告欄位，屋主個資(seller_*/apograph_*)一律 drop\nconst d = $input.first().json.data || $input.first().json;\nconst num = v => (v === null || v === undefined || v === '') ? null : Number(v);\nconst s = v => (v === null || v === undefined) ? '' : String(v).trim();\nconst features = [d.feature_1, d.feature_2, d.feature_3, d.feature_4, d.feature_5].map(s).filter(Boolean);\nconst 機能 = { 學區: s(d.school_info), 商圈: s(d.market_info), 捷運: s(d.mrt_station), 火車: s(d.train_station), 公車: s(d.bus_station) };\n// FB 一則貼文最多帶 10 張，多的不要上傳（之前全部傳完才丟掉，白花 API 呼叫）\nconst images = (d.images || []).map(x => x.image_url).filter(Boolean).slice(0, 10);\nreturn [{ json: {\n  contract_no: s(d.contract_no).toUpperCase(),\n  keisId: d.id,\n  案名: s(d.case_name),\n  總價萬: num(d.case_price),\n  單價: num(d.unit_price),\n  建物類型: s(d.property_type),\n  格局: s(d.layout),\n  主建坪: (d.main_area == null || d.main_area === '') ? null : Math.round(Number(d.main_area)*10)/10,\n  建物坪: (d.total_area == null || d.total_area === '') ? null : Math.round(Number(d.total_area)*10)/10,\n  樓層: s(d.floor_info),\n  社區: s(d.community_name),\n  地址: [s(d.property_address_city), s(d.property_address_district), s(d.property_address_road)].join(''),\n  屋齡: (d.age == null || d.age === '') ? null : Math.round(Number(d.age)),\n  車位: [s(d.parking_type), s(d.parking_method)].filter(Boolean).join('/'),\n  official_url: s(d.official_url),\n  images,\n  賣點: features,\n  機能\n}}];"
      },
      "id": "v3c-09-clean",
      "name": "白名單清洗",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{ parts: [{ text: `你是台灣資深房仲文案寫手。這是同一物件的「重發」，請換一個切入角度、換標題寫法，不要跟上一版雷同（事實數字仍不可改）。以下為官方結構化事實，全部是鐵律，禁止更改任何數字、禁止新增未提供的資訊（廣告不實有法律責任，寧可少講不可亂編）。\n\n【鐵律事實】\n案名：${$json['案名']}\n總價：${$json['總價萬']} 萬（文案只能出現這個價格數字，禁止任何其他價格）\n建物類型：${$json['建物類型']}\n格局：${$json['格局']}\n建物坪數：${$json['建物坪']} 坪（主建 ${$json['主建坪']} 坪）\n樓層：${$json['樓層']}\n屋齡：${$json['屋齡']} 年\n地址：${$json['地址']}\n車位：${$json['車位'] || '無'}\n\n【唯一可用的賣點素材】（只能改寫下列文字，不得自行補學區/捷運/建材/商圈等未列資訊）\n${($json['賣點']||[]).join('\\n')}\n機能（僅在有值時可提，空的不得杜撰）：學區「${$json['機能']['學區']}」商圈「${$json['機能']['商圈']}」捷運「${$json['機能']['捷運']}」\n\n【粉專主體】200-300 字：第一行【】標題（地段+房型+賣點+價格）；規格區每行一 emoji（📍地址 🏠格局 📐坪數 🏢屋齡樓層 💰開價，缺的省略）；空行；✨亮點 3-4 條「・」開頭。台灣房仲真實口吻，禁官腔，不放編號 hashtag、不放連結、不加電話公司字號（系統自動補）。\n【社團主體】50-80 字：一行 emoji 標題（地段+房型+關鍵賣點）；1-2 行賣點；結尾「詳情看留言」或「私訊索取」；不寫具體價格（可用概略如二字頭）、不放連結、不加電話公司字號。\n\n只回傳 JSON：{\\\"粉專主體\\\":\\\"\\\",\\\"社團主體\\\":\\\"\\\"}，不要 markdown、不要多餘說明。` }] }],\n  generationConfig: { temperature: 0.7, maxOutputTokens: 2048, responseMimeType: \"application/json\" }\n}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "v3c-10-gemini",
      "name": "Gemini 產文案",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "zTIA89pDJJs0Ad29",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst aiText = resp.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet jsonText = aiText.trim().replace(/^```json\\s*/, '').replace(/^```\\s*/, '').replace(/\\s*```$/, '');\nlet parsed;\ntry { parsed = JSON.parse(jsonText); } catch (e) { parsed = { 粉專主體: aiText.trim(), 社團主體: aiText.trim() }; }\nconst src = $('白名單清洗').first().json;\n// 鎖價後處理：文案內非官方總價的價格字串，替換回官方值\nconst price = src['總價萬'];\nlet body = String(parsed['粉專主體'] || '').trim();\nif (price) {\n  const aiNum = (body.match(/(\\d{3,7})\\s*萬/) || [])[1];\n  if (aiNum && Number(aiNum) !== Number(price)) body = body.split(aiNum + ' 萬').join(price + ' 萬').split(aiNum + '萬').join(price + '萬');\n}\nconst 粉專footer = '\\n\\n📞 薛先生 0912877583（同 LINE）\\nLINE：https://line.me/ti/p/kg1pMk4vX8\\n\\n—\\n凱璿誼峰不動產有限公司\\n經紀業特許字號：高市地政籍字第11034791100號\\n證照字號：（111）登字第417208號';\nconst 社團footer = '\\n\\n—\\n凱璿誼峰不動產有限公司｜薛先生 0912877583\\n經紀業特許字號：高市地政籍字第11034791100號';\nconst 粉專文案 = body + 粉專footer;\nconst 社團文案 = String(parsed['社團主體'] || '').trim() + 社團footer;\nreturn [{ json: { ...src, 粉專文案, 社團文案 } }];"
      },
      "id": "v3c-11-parsecopy",
      "name": "解析文案+footer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// 把 Notion 那邊的 pageId / 舊貼文 id 併回文案流\nconst ctx = $('挑一件重發').first().json;\nreturn [{ json: { ...$input.first().json, ...ctx } }];\n"
      },
      "id": "v3c-08-ctx",
      "name": "補上下文",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "id": "v3c-20-splitimg",
      "name": "拆解照片",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1041868522352339/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.images, published: false }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "v3c-21-uploadphoto",
      "name": "FB 上傳照片",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y6myWnsH0lkRL3CF",
          "name": "FB Page Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fbids = $input.all().map(i => i.json?.id).filter(Boolean).slice(0, 10);\nconst ctx = $('補上下文').first().json;\nreturn [{ json: { ...ctx, fbids } }];"
      },
      "id": "v3c-22-collect",
      "name": "收集 media id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1041868522352339/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(($json.fbids && $json.fbids.length) ? { message: $json['粉專文案'], attached_media: $json.fbids.map(id => ({ media_fbid: id })) } : { message: $json['粉專文案'] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "v3c-23-feed",
      "name": "FB 發貼文",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y6myWnsH0lkRL3CF",
          "name": "FB Page Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst id = resp.id || resp.post_id || '';\nconst ctx = $('收集 media id').first().json;\nconst parts = String(id).split('_');\nconst permalink = id ? (parts.length === 2 ? `https://www.facebook.com/${parts[0]}/posts/${parts[1]}` : `https://www.facebook.com/${id}`) : '';\nreturn [{ json: { ...ctx, fbPostId: id, permalink } }];"
      },
      "id": "v3c-24-postresult",
      "name": "取貼文結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.oldPostId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "v3c-12-del",
      "name": "刪舊貼文",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y6myWnsH0lkRL3CF",
          "name": "FB Page Token"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('挑一件重發').first().json.notionPageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { '粉專貼文連結': { url: $('取貼文結果').first().json.permalink || null }, '粉專文案': { rich_text: [{ text: { content: String($('取貼文結果').first().json['粉專文案']||'').slice(0,1900) } }] }, '社團文案': { rich_text: [{ text: { content: String($('取貼文結果').first().json['社團文案']||'').slice(0,1900) } }] }, '重發次數': { number: Number($('挑一件重發').first().json['重發次數'] || 0) + 1 }, '文案版本': { number: Number($('挑一件重發').first().json['文案版本'] || 1) + 1 }, '要重發': { checkbox: false }, '最後重發時間': { date: { start: $now.setZone('Asia/Taipei').toISODate() } } } }) }}",
        "options": {}
      },
      "id": "v3c-13-notion",
      "name": "Notion 更新重發",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "edOz4T0LC6EP41Ug",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: 'Ufab42c56b2eb9b9a9ff18c367b85a6dd', messages: [{ type: 'text', text: `🔁 已重發 ${$('取貼文結果').first().json.contract_no}\\n${$('取貼文結果').first().json.permalink || '（連結未取得，請到粉專確認）'}\\n\\n舊貼文已刪，社團分享請重按這篇的「分享」。\\n（Notion 的勾勾已自動取消，要再發就再勾一次）\\n\\n━ 社團版 ━\\n${$('取貼文結果').first().json['社團文案'] || ''}` }] }) }}",
        "options": {}
      },
      "id": "v3c-14-line",
      "name": "LINE 重發通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OmFzUGgZ1xIpAAP5",
          "name": "LINE Channel Access Token"
        }
      }
    }
  ],
  "connections": {
    "重發時段": {
      "main": [
        [
          {
            "node": "Notion 撈重發名單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion 撈重發名單": {
      "main": [
        [
          {
            "node": "挑一件重發",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "挑一件重發": {
      "main": [
        [
          {
            "node": "KEIS 登入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 登入": {
      "main": [
        [
          {
            "node": "KEIS 物件詳情",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KEIS 物件詳情": {
      "main": [
        [
          {
            "node": "白名單清洗",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "白名單清洗": {
      "main": [
        [
          {
            "node": "Gemini 產文案",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 產文案": {
      "main": [
        [
          {
            "node": "解析文案+footer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析文案+footer": {
      "main": [
        [
          {
            "node": "補上下文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "補上下文": {
      "main": [
        [
          {
            "node": "拆解照片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆解照片": {
      "main": [
        [
          {
            "node": "FB 上傳照片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB 上傳照片": {
      "main": [
        [
          {
            "node": "收集 media id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "收集 media id": {
      "main": [
        [
          {
            "node": "FB 發貼文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB 發貼文": {
      "main": [
        [
          {
            "node": "取貼文結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取貼文結果": {
      "main": [
        [
          {
            "node": "刪舊貼文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "刪舊貼文": {
      "main": [
        [
          {
            "node": "Notion 更新重發",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion 更新重發": {
      "main": [
        [
          {
            "node": "LINE 重發通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}